<app-sidebar></app-sidebar>
<app-navbar></app-navbar>

<main>
    <div class="row">
        <div class="col-5">
            <!-- <select name="inventory-filter" id="i-filter" class="form-select" aria-label="Default select example">
                <option selected>All</option>
                <option value="tugstugs">tugstugs</option>
                <option value="hehehehehe">hehehehehe</option>
                <option value="3">Low in Stock</option>
            </select> -->
            <input type="search" oninput="liveSearch()" id="searchbox" class="form-control" placeholder="Search">
        </div>
        <div class="col-5"></div>
        <div class="col-2 d-flex justify-content-end">
            <a routerLink="../add-bouquet"><button class="btn btn-success"><i class="bi bi-plus-circle pe-2"></i>Add Bouquet</button></a>
        </div>
    </div>
    <div class="d-flex gap-4 mt-3">
        <div class="card">
            <a routerLink="../view-bouquet" class="inventory-item">
                <img src="assets/img/sample-bouquet.jpg" class="card-img-top" alt="...">
                <span class="badge bg-success">Online</span>
                <div class="card-body">
                    <h5 class="card-title">First Bouquet</h5>
                    <p class="card-text">₱1000</p>
                </div>
            </a>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" routerLink="#">View Details</a></li>
                    <li><a class="dropdown-item" routerLink="#">Edit Details</a></li>
                    <li><a class="dropdown-item" routerLink="#">Toggle Status</a></li>
                    <li><a class="dropdown-item" routerLink="#">Delete</a></li>
                    </ul>
                </div>
                <div class="stock-left">
                    <p class="m-0"><b>50</b> in stock</p>
                </div>
            </div>
        </div>
        <div class="card">
            <a routerLink="../view-bouquet" class="inventory-item">
                <img src="assets/img/sample-bouquet.jpg" class="card-img-top" alt="...">
                <span class="badge bg-danger">Offline</span>
                <div class="card-body">
                    <h5 class="card-title">Second Bouquet</h5>
                    <p class="card-text">₱1000</p>
                </div>
            </a>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" routerLink="#">View Details</a></li>
                    <li><a class="dropdown-item" routerLink="#">Edit Details</a></li>
                    <li><a class="dropdown-item" routerLink="#">Toggle Status</a></li>
                    <li><a class="dropdown-item" routerLink="#">Delete</a></li>
                    </ul>
                </div>
                <div class="stock-left">
                    <p class="m-0"><b>50</b> in stock</p>
                </div>
            </div>
        </div>
        <div class="card">
            <a routerLink="../view-bouquet" class="inventory-item">
                <img src="assets/img/sample-bouquet.jpg" class="card-img-top" alt="...">
                <span class="badge bg-success">Online</span>
                <div class="card-body">
                    <h5 class="card-title">Third Bouquet</h5>
                    <p class="card-text">₱1000</p>
                </div>
            </a>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" routerLink="#">View Details</a></li>
                    <li><a class="dropdown-item" routerLink="#">Edit Details</a></li>
                    <li><a class="dropdown-item" routerLink="#">Toggle Status</a></li>
                    <li><a class="dropdown-item" routerLink="#">Delete</a></li>
                    </ul>
                </div>
                <div class="stock-left">
                    <p class="m-0"><b>50</b> in stock</p>
                </div>
            </div>
        </div>
        <div class="card">
            <a routerLink="../view-bouquet" class="inventory-item">
                <img src="assets/img/sample-bouquet.jpg" class="card-img-top" alt="...">
                <span class="badge bg-success">Online</span>
                <div class="card-body">
                    <h5 class="card-title">Fourth Bouquet</h5>
                    <p class="card-text">₱1000</p>
                </div>
            </a>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" routerLink="#">View Details</a></li>
                    <li><a class="dropdown-item" routerLink="#">Edit Details</a></li>
                    <li><a class="dropdown-item" routerLink="#">Toggle Status</a></li>
                    <li><a class="dropdown-item" routerLink="#">Delete</a></li>
                    </ul>
                </div>
                <div class="stock-left">
                    <p class="m-0"><b>50</b> in stock</p>
                </div>
            </div>
        </div>
    </div>
</main>
