<!-- BOUQUETS -->

<!-- Bouquet #1 -->
<div class="modal fade" id="bouquet-1" tabindex="-1" aria-labelledby="bouquet1-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card p-3 pt-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end pe-0">
                                <i class="bi bi-x" data-bs-dismiss="modal"></i>
                            </div>
                        </div>
                        <h2 class="">Pinky Pinks</h2>
                        <div class="row">
                            <div class="col-5 text-center">
                                <img src="assets/img/pinky pinks.png" alt="" class="img-fluid order-img shadow-sm">
                                <h4 class="price fw-bold mt-3 py-2 shadow-sm">₱2,500</h4>
                            </div>
                            <div class="col-7 ps-3">
                                <h6 class="fw-bold">Description</h6>
                                <p>What do we say when you want to treat your loved ones like a princess? We say "Go pink!"</p>
                                <h6 class="fw-bold">Size</h6>
                                <p>Medium</p>
                                <h6 class="fw-bold">Flowers</h6>
                                <ul>
                                    <li>Single Stem Tulip x5</li>
                                    <li>Single Stem Lily x5</li>
                                    <li>Dianthus Flower x5</li>
                                    <li>Marigold x5</li>
                                </ul>
                                <h6 class="fw-bold">Sleeves</h6>
                                <ul>
                                    <li>Plastic Wrapper x1</li>
                                    <li>Kraft Paper x1</li>
                                </ul>
                                <h6 class="fw-bold">Tie</h6>
                                <ul>
                                    <li>Black Ribbon x1</li>
                                </ul>
                                <h6 class="fw-bold">Card</h6>
                                <p class="text-muted">None</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bouquet #2 -->
<div class="modal fade" id="bouquet-2" tabindex="-1" aria-labelledby="bouquet2-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card p-3 pt-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end pe-0">
                                <i class="bi bi-x" data-bs-dismiss="modal"></i>
                            </div>
                        </div>
                        <h2 class="">Summer Treat</h2>
                        <div class="row">
                            <div class="col-5 text-center">
                                <img src="assets/img/summer treat.png" alt="" class="img-fluid order-img shadow-sm">
                                <h4 class="price fw-bold mt-3 py-2 shadow-sm">₱4,000</h4>
                            </div>
                            <div class="col-7 ps-3">
                                <h6 class="fw-bold">Description</h6>
                                <p>A combination of purple orange and pink hues all in one en grande bouquet. Grab one now and make someone's heart grow even bigger!</p>
                                <h6 class="fw-bold">Size</h6>
                                <p>Medium</p>
                                <h6 class="fw-bold">Flowers</h6>
                                <ul>
                                    <li>Single Stem Tulip x5</li>
                                    <li>Single Stem Lily x5</li>
                                    <li>Dianthus Flower x5</li>
                                    <li>Marigold x5</li>
                                </ul>
                                <h6 class="fw-bold">Sleeves</h6>
                                <ul>
                                    <li>Plastic Wrapper x1</li>
                                    <li>Kraft Paper x1</li>
                                </ul>
                                <h6 class="fw-bold">Tie</h6>
                                <ul>
                                    <li>Black Ribbon x1</li>
                                </ul>
                                <h6 class="fw-bold">Card</h6>
                                <p class="text-muted">None</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bouquet #3 -->
<div class="modal fade" id="bouquet-3" tabindex="-1" aria-labelledby="bouquet3-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card p-3 pt-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end pe-0">
                                <i class="bi bi-x" data-bs-dismiss="modal"></i>
                            </div>
                        </div>
                        <h2 class="">Spring-y</h2>
                        <div class="row">
                            <div class="col-5 text-center">
                                <img src="assets/img/spring-y.png" alt="" class="img-fluid order-img shadow-sm">
                                <h4 class="price fw-bold mt-3 py-2 shadow-sm">₱3,000</h4>
                            </div>
                            <div class="col-7 ps-3">
                                <h6 class="fw-bold">Description</h6>
                                <p>Pastel colored flowers all in one bouquet, make them blush like those roses!</p>
                                <h6 class="fw-bold">Size</h6>
                                <p>Medium</p>
                                <h6 class="fw-bold">Flowers</h6>
                                <ul>
                                    <li>Single Stem Tulip x5</li>
                                    <li>Single Stem Lily x5</li>
                                    <li>Dianthus Flower x5</li>
                                    <li>Marigold x5</li>
                                </ul>
                                <h6 class="fw-bold">Sleeves</h6>
                                <ul>
                                    <li>Plastic Wrapper x1</li>
                                    <li>Kraft Paper x1</li>
                                </ul>
                                <h6 class="fw-bold">Tie</h6>
                                <ul>
                                    <li>Black Ribbon x1</li>
                                </ul>
                                <h6 class="fw-bold">Card</h6>
                                <p class="text-muted">None</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bouquet #4 -->
<div class="modal fade" id="bouquet-4" tabindex="-1" aria-labelledby="bouquet4-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card p-3 pt-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end pe-0">
                                <i class="bi bi-x" data-bs-dismiss="modal"></i>
                            </div>
                        </div>
                        <h2 class="">Sunny Surprise</h2>
                        <div class="row">
                            <div class="col-5 text-center">
                                <img src="assets/img/sunny surprise.png" alt="" class="img-fluid order-img shadow-sm">
                                <h4 class="price fw-bold mt-3 py-2 shadow-sm">₱2,900</h4>
                            </div>
                            <div class="col-7 ps-3">
                                <h6 class="fw-bold">Description</h6>
                                <p>Isn't it all hot in here?! Well, a sunny day inspired arrangement of flowers might be the coolest way to spice things up with your loved ones any day.</p>
                                <h6 class="fw-bold">Size</h6>
                                <p>Medium</p>
                                <h6 class="fw-bold">Flowers</h6>
                                <ul>
                                    <li>Single Stem Tulip x5</li>
                                    <li>Single Stem Lily x5</li>
                                    <li>Dianthus Flower x5</li>
                                    <li>Marigold x5</li>
                                </ul>
                                <h6 class="fw-bold">Sleeves</h6>
                                <ul>
                                    <li>Plastic Wrapper x1</li>
                                    <li>Kraft Paper x1</li>
                                </ul>
                                <h6 class="fw-bold">Tie</h6>
                                <ul>
                                    <li>Black Ribbon x1</li>
                                </ul>
                                <h6 class="fw-bold">Card</h6>
                                <p class="text-muted">None</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FLOWERS -->

<!-- Flower #1 -->
<div class="modal fade" id="flower-1" tabindex="-1" aria-labelledby="flower1-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card p-3 pt-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end pe-0">
                                <i class="bi bi-x" data-bs-dismiss="modal"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 text-center">
                                <img src="assets/img/tulip.png" alt="" class="img-fluid order-img shadow-sm">
                                <h4 class="price fw-bold mt-3 py-2 shadow-sm">₱210</h4>
                            </div>
                            <div class="col-7 ps-3">
                                <h2 class="">Single Stem Tulip</h2>
                                <h6 class="fw-bold">Description</h6>
                                <p>Tulips are a common choice for bridal flowers. Would you like to give your loved ones a very sweet like a wedding surprise? You might be looking for a tulip!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Flower #2 -->
<div class="modal fade" id="flower-2" tabindex="-1" aria-labelledby="flower2-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card p-3 pt-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end pe-0">
                                <i class="bi bi-x" data-bs-dismiss="modal"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 text-center">
                                <img src="assets/img/rose.png" alt="" class="img-fluid order-img shadow-sm">
                                <h4 class="price fw-bold mt-3 py-2 shadow-sm">₱100</h4>
                            </div>
                            <div class="col-7 ps-3">
                                <h2 class="">Single Stem Rose</h2>
                                <h6 class="fw-bold">Description</h6>
                                <p>Roses are symbol for appreciation. Want to express your gratitude to someone but are unsure of the best way to do so? What are you waiting for then? Buy them a rose!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Flower #3 -->
<div class="modal fade" id="flower-3" tabindex="-1" aria-labelledby="flower3-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card p-3 pt-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end pe-0">
                                <i class="bi bi-x" data-bs-dismiss="modal"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 text-center">
                                <img src="assets/img/lily.jpg" alt="" class="img-fluid order-img shadow-sm">
                                <h4 class="price fw-bold mt-3 py-2 shadow-sm">₱232</h4>
                            </div>
                            <div class="col-7 ps-3">
                                <h2 class="">Single Stem Lily</h2>
                                <h6 class="fw-bold">Description</h6>
                                <p>Looking for a gift on someone's baby shower? graduation? anniversary? Well, lily symbolizes good will, prosperity and happiness. Get them one... or two... or a hundred now!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Flower #4 -->
<div class="modal fade" id="flower-4" tabindex="-1" aria-labelledby="flower4-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card p-3 pt-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end pe-0">
                                <i class="bi bi-x" data-bs-dismiss="modal"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 text-center">
                                <img src="assets/img/sunflower.png" alt="" class="img-fluid order-img shadow-sm">
                                <h4 class="price fw-bold mt-3 py-2 shadow-sm">₱260</h4>
                            </div>
                            <div class="col-7 ps-3">
                                <h2 class="">Sunflower</h2>
                                <h6 class="fw-bold">Description</h6>
                                <p>Really, there is never a good moment or place to gift someone a sunflower. You consider someone to be cute? Give them a sunflower! Do you want to cheer someone up? Buy a sunflower for them!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Flower #5 -->
<div class="modal fade" id="flower-5" tabindex="-1" aria-labelledby="flower5-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card p-3 pt-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end pe-0">
                                <i class="bi bi-x" data-bs-dismiss="modal"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 text-center">
                                <img src="assets/img/marigold.jpg" alt="" class="img-fluid order-img shadow-sm">
                                <h4 class="price fw-bold mt-3 py-2 shadow-sm">₱290</h4>
                            </div>
                            <div class="col-7 ps-3">
                                <h2 class="">Marigold</h2>
                                <h6 class="fw-bold">Description</h6>
                                <p>Marigolds are a symbol of joy, they can be sent as a gift on practically any occasion. You can never go wrong with warm shades of marigold.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Flower #6 -->
<div class="modal fade" id="flower-6" tabindex="-1" aria-labelledby="flower6-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card p-3 pt-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end pe-0">
                                <i class="bi bi-x" data-bs-dismiss="modal"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 text-center">
                                <img src="assets/img/pansy.jpg" alt="" class="img-fluid order-img shadow-sm">
                                <h4 class="price fw-bold mt-3 py-2 shadow-sm">₱307</h4>
                            </div>
                            <div class="col-7 ps-3">
                                <h2 class="">Pansy Flower</h2>
                                <h6 class="fw-bold">Description</h6>
                                <p>Got a little crush on someone? Well, wouldn't it be "pansy" to let them know using a flower? Pansy flower is used by forbidden lovers to convey secret messages. Grab one and let someone know you love and think of them.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Flower #7 -->
<div class="modal fade" id="flower-7" tabindex="-1" aria-labelledby="flower7-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card p-3 pt-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end pe-0">
                                <i class="bi bi-x" data-bs-dismiss="modal"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 text-center">
                                <img src="assets/img/dianthus.jpg" alt="" class="img-fluid order-img shadow-sm">
                                <h4 class="price fw-bold mt-3 py-2 shadow-sm">₱145</h4>
                            </div>
                            <div class="col-7 ps-3">
                                <h2 class="">Dianthus Flower</h2>
                                <h6 class="fw-bold">Description</h6>
                                <p>Dianthus flower also known as sweet williams or pinks can be gifted in any special occasion. You don't have a special someone to give it to? No need to worry, they are edible!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Flower #8 -->
<div class="modal fade" id="flower-8" tabindex="-1" aria-labelledby="flower8-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card p-3 pt-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end pe-0">
                                <i class="bi bi-x" data-bs-dismiss="modal"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 text-center">
                                <img src="assets/img/daisy.png" alt="" class="img-fluid order-img shadow-sm">
                                <h4 class="price fw-bold mt-3 py-2 shadow-sm">₱232</h4>
                            </div>
                            <div class="col-7 ps-3">
                                <h2 class="">Daisy</h2>
                                <h6 class="fw-bold">Description</h6>
                                <p>A daisy can be given to someone on circumstances other than pleasant or romantic ones, such as when expressing heartfelt sympathy.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SLEEVE -->

<!-- Sleeve #1 -->
<div class="modal fade" id="sleeve-1" tabindex="-1" aria-labelledby="sleeve1-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card p-3 pt-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end pe-0">
                                <i class="bi bi-x" data-bs-dismiss="modal"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 text-center">
                                <img src="assets/img/kraft paper.png" alt="" class="img-fluid order-img shadow-sm">
                                <h4 class="price fw-bold mt-3 py-2 shadow-sm">₱52</h4>
                            </div>
                            <div class="col-7 ps-3">
                                <h2 class="">Kraft Paper</h2>
                                <h6 class="fw-bold">Description</h6>
                                <p>Kraft paper is not only good for the environment because it will also give a good classic and formal look on your bouquet of flowers making it even sexier! Wrap them in it NOW.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sleeve #2 -->
<div class="modal fade" id="sleeve-2" tabindex="-1" aria-labelledby="sleeve2-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card p-3 pt-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end pe-0">
                                <i class="bi bi-x" data-bs-dismiss="modal"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 text-center">
                                <img src="assets/img/plastic wrapper.png" alt="" class="img-fluid order-img shadow-sm">
                                <h4 class="price fw-bold mt-3 py-2 shadow-sm">₱42</h4>
                            </div>
                            <div class="col-7 ps-3">
                                <h2 class="">Plastic Wrapper</h2>
                                <h6 class="fw-bold">Description</h6>
                                <p>Simple is more. Make your bouquets flex its fresh flowers inside with this transparent plastic wrapper. Oh! what we meant will instantly be clear once you see the final product.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sleeve #3 -->
<div class="modal fade" id="sleeve-3" tabindex="-1" aria-labelledby="sleeve3-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card p-3 pt-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end pe-0">
                                <i class="bi bi-x" data-bs-dismiss="modal"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 text-center">
                                <img src="assets/img/pink paper.png" alt="" class="img-fluid order-img shadow-sm">
                                <h4 class="price fw-bold mt-3 py-2 shadow-sm">₱36</h4>
                            </div>
                            <div class="col-7 ps-3">
                                <h2 class="">Pink Paper</h2>
                                <h6 class="fw-bold">Description</h6>
                                <p>What's even sweeter than the color pink?! I'll tell you what... nothing. Wrap your beautiful bouquets in this pink flower wrapping paper and show someone how sweet you can be.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sleeve #4 -->
<div class="modal fade" id="sleeve-4" tabindex="-1" aria-labelledby="sleeve4-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card p-3 pt-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end pe-0">
                                <i class="bi bi-x" data-bs-dismiss="modal"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 text-center">
                                <img src="assets/img/cellophane.png" alt="" class="img-fluid order-img shadow-sm">
                                <h4 class="price fw-bold mt-3 py-2 shadow-sm">₱45</h4>
                            </div>
                            <div class="col-7 ps-3">
                                <h2 class="">Cellophane</h2>
                                <h6 class="fw-bold">Description</h6>
                                <p>Do you want your bouquet to stand out more by it being stylish? Style them with this rainbow colored clear cellophane and show 'em who's got it.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TIE -->

<!-- Tie #1 -->
<div class="modal fade" id="tie-1" tabindex="-1" aria-labelledby="tie1-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card p-3 pt-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end pe-0">
                                <i class="bi bi-x" data-bs-dismiss="modal"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 text-center">
                                <img src="assets/img/twine.png" alt="" class="img-fluid order-img shadow-sm">
                                <h4 class="price fw-bold mt-3 py-2 shadow-sm">₱12</h4>
                            </div>
                            <div class="col-7 ps-3">
                                <h2 class="">Twine</h2>
                                <h6 class="fw-bold">Description</h6>
                                <p>Bind your flowers with this twine thread for a vintage-inspired, yet elegant, look.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Tie #2 -->
<div class="modal fade" id="tie-2" tabindex="-1" aria-labelledby="tie2-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card p-3 pt-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end pe-0">
                                <i class="bi bi-x" data-bs-dismiss="modal"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 text-center">
                                <img src="assets/img/white ribbon.png" alt="" class="img-fluid order-img shadow-sm">
                                <h4 class="price fw-bold mt-3 py-2 shadow-sm">₱6</h4>
                            </div>
                            <div class="col-7 ps-3">
                                <h2 class="">White Ribbon</h2>
                                <h6 class="fw-bold">Description</h6>
                                <p>Can't decide? Go for a simple clean looking white ribbon for your flowers. Nothing can ever go wrong with white, right?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Tie #3 -->
<div class="modal fade" id="tie-3" tabindex="-1" aria-labelledby="tie3-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card p-3 pt-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end pe-0">
                                <i class="bi bi-x" data-bs-dismiss="modal"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 text-center">
                                <img src="assets/img/pink ribbon.png" alt="" class="img-fluid order-img shadow-sm">
                                <h4 class="price fw-bold mt-3 py-2 shadow-sm">₱6</h4>
                            </div>
                            <div class="col-7 ps-3">
                                <h2 class="">Pink Ribbon</h2>
                                <h6 class="fw-bold">Description</h6>
                                <p>Are you kidding me?! you want something looking sweet and cute? Then, choose this pink ribbon for your flowers.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Tie #4 -->
<div class="modal fade" id="tie-4" tabindex="-1" aria-labelledby="tie4-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card p-3 pt-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end pe-0">
                                <i class="bi bi-x" data-bs-dismiss="modal"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 text-center">
                                <img src="assets/img/black ribbon.png" alt="" class="img-fluid order-img shadow-sm">
                                <h4 class="price fw-bold mt-3 py-2 shadow-sm">₱6</h4>
                            </div>
                            <div class="col-7 ps-3">
                                <h2 class="">Black Ribbon</h2>
                                <h6 class="fw-bold">Description</h6>
                                <p>What color brings more finesse in everything than the color black? Bind your arranged flower with this ribbon!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Make Bouquet -->

<!-- <div class="modal fade" id="make-bouquet" tabindex="-1" aria-labelledby="make-bouquet-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card p-3 pt-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end pe-0">
                                <a routerLink="/order"><i class="bi bi-x" data-bs-dismiss="modal"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <i class="bi bi-check-circle" style="color: green; font-size: 5rem;"></i>
                                <h4 class="fw-bold">Added to bag!</h4>
                                <p class="px-4">You've successfully made your customized bouquet.</p>
                                <div class="">
                                    <a routerLink="/order"><button type="button" class="btn btn-primary mt-4 mb-2 mx-2 px-5 shadow" data-bs-dismiss="modal">Continue Shopping</button></a>
                                    <a routerLink="/order/order-list"><button type="button" class="btn btn-primary mt-4 mb-2 mx-2 px-5 shadow" data-bs-dismiss="modal">Go to Bag</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

