.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: white;
}

@media (max-width: 1199px) {
  .sidebar {
    left: -350px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
} 

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-link, .accordion-button {
  color: black;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;
  font-weight: 600;
}

.nav-link:hover {
  background-color: var(--primary-color);
  color: white;
}

.nav-item.active a {
  color: #6E85B7;
  background-color: #f6f9ff;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3;
}

.accordion-button {
  background-color: white;
  color: black;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.accordion-button:hover, .accordion-button:not(.collapsed):focus {
  background-color: var(--primary-color);
  color: white;
}

.accordion-item {
  border: none;
  box-shadow: none;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}


