<app-sidebar></app-sidebar>
<app-navbar></app-navbar>

<main>
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-success px-4">Save Changes</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="card p-4">
                <div class="row">
                    <div class="col-3">
                        <div class="form-input">
                            <div class="preview">
                              <img src="assets/img/sample-bouquet.jpg" id="upload-preview" class="item-pic img-fluid">
                            </div>
                            <button class="btn btn-primary w-100 mt-3 fw-bold"><label for="upload" class="w-100">Upload</label></button>
                            <input type="file" id="upload" accept="image/*" onchange="showPreview(event);">
                        </div>
                    </div>
                    <div class="col-9">
                        <form>
                            <div class="mb-3 row">
                                <label for="inputID" class="col-2 col-form-label fw-bold d-flex justify-content-end">Flower ID</label>
                                <div class="col-10">
                                    <input type="type" class="form-control" id="inputID">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inputName" class="col-2 col-form-label fw-bold d-flex justify-content-end">Name</label>
                                <div class="col-10">
                                    <input type="type" class="form-control" id="inputName">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inputDesc" class="col-2 col-form-label fw-bold d-flex justify-content-end">Description</label>
                                <div class="col-10">
                                    <textarea class="form-control" id="inputDesc" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inputPrice" class="col-2 col-form-label fw-bold d-flex justify-content-end">Price</label>
                                <div class="col-10">
                                    <input type="type" class="form-control" id="inputPrice">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inputStock" class="col-2 col-form-label fw-bold d-flex justify-content-end">Stock</label>
                                <div class="col-10">
                                    <input type="type" class="form-control" id="inputStock">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inputVisibility" class="col-2 col-form-label fw-bold d-flex justify-content-end">Visibility</label>
                                <div class="col-10">
                                    <input type="radio" class="btn-check" name="visibility-options" id="active" autocomplete="off" checked>
                                    <label class="btn btn-outline-success me-2 px-3" for="active">Active</label>

                                    <input type="radio" class="btn-check" name="visibility-options" id="inactive" autocomplete="off">
                                    <label class="btn btn-outline-danger me-2 px-3" for="inactive">Inactive</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <a routerLink="../view-flower"><button class="btn btn-outline-danger px-3">Cancel</button></a>
                </div>
            </div>
        </div>
    </div>
</main>
