.order {
  padding-top: 100px;
  padding-bottom: 50px;
}

.order h1 {
  color: var(--primary-color);
  font-weight: bold;
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.bouquet-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.order-img {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}

.confirmation .btn {
  text-transform: uppercase;
  padding: 8px 100px;
}