<app-header></app-header>
<section class="order">
  <h3 class="page-title">CHOOSE FROM OUR ALREADY ARRANGED BOUQUETS:</h3>
  <div class="center-container">
  <div class="bouquet-container">
    <div class="bouquet-column">
      <div class="bouquet-items">
        <img src="assets/img/pinky pinks.png" alt="">
      </div>
      <div class="bouquet-details">
        <div class="details-row">
          <h4>Pinky pinks</h4>
          <p>₱2,500</p>
        </div>
        <p>What do we say when you want to treat your.....<a class="see-more" onclick="PopUpBouquet1()">See More</a></p>
        <button class="btn-general">add to bag</button>
      </div>
    </div>
    <div class="bouquet-column">
      <div class="bouquet-items">
        <img src="assets/img/summer treat.png" alt="">
      </div>
      <div class="bouquet-details">
        <div class="details-row">
          <h4>Summer treat</h4>
          <p>₱4,000</p>
        </div>
        <p>A combination of purple orange and pink.....<a class="see-more" onclick="PopUpBouquet2()">See More</a></p>
        <button class="btn-general">add to bag</button>
      </div>
    </div>
    <div class="bouquet-column">
      <div class="bouquet-items">
        <img src="assets/img/spring-y.png" alt="">
      </div>
      <div class="bouquet-details">
        <div class="details-row">
          <h4>Spring-y</h4>
          <p>₱3,000</p>
        </div>
        <p>Pastel colored flowers all in one bouquet, make.....<a class="see-more" onclick="PopUpBouquet3()">See More</a></p>
        <button class="btn-general">add to bag</button>
      </div>
    </div>
    <div class="bouquet-column">
      <div class="bouquet-items">
        <img src="assets/img/sunny surprise.png" alt="">
      </div>
      <div class="bouquet-details">
        <div class="details-row">
          <h4>Sunny surprise</h4>
          <p>₱2,900</p>
        </div>
        <p>Isn't it all hot in here?! Well, a sunny day.....<a class="see-more" onclick="PopUpBouquet4()">See More</a></p>
        <button class="btn-general">add to bag</button>
      </div>
    </div>
  </div>
  </div>
  <div class="confirmation">
    <a routerLink="/order/order-list"><button class="btn-general">Confirm Order</button></a>
  </div>
<!-- Bouquet Popups -->
<!-- Bouquet #1 -->
<div class="popup" id="popup-bouquet-1">
  <div class="overlay"></div>
  <div class="pop-content">
    <div class="close-btn" onclick="PopUpBouquet1()">&times;</div>
    <h1 class="page-title">Pinky pinks</h1>
    <div class="pop-row">
      <img src="assets/img/pinky pinks.png">
      <p>What do we say when you want to treat your loved ones like a princess? We say "go pink!"</p>
    </div>
  </div>
</div>
<!-- Bouquet #2 -->
<div class="popup" id="popup-bouquet-2">
  <div class="overlay"></div>
  <div class="pop-content">
    <div class="close-btn" onclick="PopUpBouquet2()">&times;</div>
    <h1 class="page-title">Summer treat</h1>
    <div class="pop-row">
      <img src="assets/img/summer treat.png">
      <p>A combination of purple orange and pink hues all in one en grande bouquet. Grab one now and make someone's heart grow even bigger!</p>
    </div>
  </div>
</div>
<!-- Bouquet #3 -->
<div class="popup" id="popup-bouquet-3">
  <div class="overlay"></div>
  <div class="pop-content">
    <div class="close-btn" onclick="PopUpBouquet3()">&times;</div>
    <h1 class="page-title">Spring-y</h1>
    <div class="pop-row">
      <img src="assets/img/spring-y.png">
      <p>Pastel colored flowers all in one bouquet, make them blush like those roses!</p>
    </div>
  </div>
</div>
<!-- Bouquet #4 -->
<div class="popup" id="popup-bouquet-4">
  <div class="overlay"></div>
  <div class="pop-content">
    <div class="close-btn" onclick="PopUpBouquet4()">&times;</div>
    <h1 class="page-title">Sunny surprise</h1>
    <div class="pop-row">
      <img src="assets/img/sunny surprise.png">
      <p>Isn't it all hot in here?! Well, a sunny day inspired arrangement of flowers might be the coolest way to spice things up with your loved ones any day.
      </p>
    </div>
  </div>
</div>
</section>
<app-footer></app-footer>
