<app-header></app-header>
<section class="order">
    <div class="container mt-5">
        <h1>CHOOSE FROM OUR ALREADY ARRANGED BOUQUETS</h1>

        <div class="items mt-5">
            <div class="bouquet-item">
                <a class="see-more" data-bs-toggle="modal" data-bs-target="#bouquet-1">
                    <img src="assets/img/pinky pinks.png" alt="" class="img-fluid order-img">
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <h5 class="name fw-bold">Pinky Pinks</h5>
                        <h6>₱2,500</h6>
                    </div>
                    <p>What do we say when you want to treat your...</p>
                </a>
                <div class="d-flex">
                  <input type="number" min="0" step="1" class="form-control no-effect w-25" id="amountInput" value="0">
                  <button class="btn btn-outline-primary w-75 ms-3">add to bag</button>
                </div>
            </div>
            <div class="bouquet-item">
                <a class="see-more" data-bs-toggle="modal" data-bs-target="#bouquet-2">
                    <img src="assets/img/summer treat.png" alt="" class="img-fluid order-img">
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <h5 class="name fw-bold">Summer Treat</h5>
                        <h6>₱4,000</h6>
                    </div>
                    <p>A combination of purple orange and pink...</p>
                </a>
                <div class="d-flex">
                  <input type="number" min="0" step="1" class="form-control no-effect w-25" id="amountInput" value="0">
                  <button class="btn btn-outline-primary w-75 ms-3">add to bag</button>
                </div>
            </div>

            <div class="bouquet-item">
                <a class="see-more" data-bs-toggle="modal" data-bs-target="#bouquet-3">
                    <img src="assets/img/spring-y.png" alt="" class="img-fluid order-img">
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <h5 class="name fw-bold">Spring-y</h5>
                        <h6>₱3,000</h6>
                    </div>
                    <p>Pastel colored flowers all in one bouquet, make...</p>
                </a>
                <div class="d-flex">
                  <input type="number" min="0" step="1" class="form-control no-effect w-25" id="amountInput" value="0">
                  <button class="btn btn-outline-primary w-75 ms-3">add to bag</button>
                </div>
            </div>
            <div class="bouquet-item">
                <a class="see-more" data-bs-toggle="modal" data-bs-target="#bouquet-4">
                    <img src="assets/img/sunny surprise.png" alt="" class="img-fluid order-img">
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <h5 class="name fw-bold">Sunny Surprise</h5>
                        <h6>₱2,900</h6>
                    </div>
                    <p>Isn't it all hot in here?! Well, a sunny day...</p>
                </a>
                <div class="d-flex">
                  <input type="number" min="0" step="1" class="form-control no-effect w-25" id="amountInput" value="0">
                  <button class="btn btn-outline-primary w-75 ms-3">add to bag</button>
          

          </div>
        </div>
        <div class="confirmation mt-5 d-flex justify-content-between">
            <a routerLink="/order"><button class="btn btn-outline-primary">Back</button></a>
            <a routerLink="/order/order-list"><button class="btn btn-outline-primary">Go to Bag</button></a>
        </div>
    </div>

</section>

<app-modals></app-modals>
<app-footer></app-footer>
