.order{
  padding-top: 100px;
  padding-bottom: 50px;
}
.bouquet-items img{
  border-radius: 5%;
  max-width: 255px;
}
.order h3{
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
  padding-left: 150px;
}
.center-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.adjust{
  padding-top: 30px;
}
.bouquet-container{
  display: flex;
  justify-content:space-between;
  width: 80%;
}
.bouquet-column{
  max-width: 17%;
  padding-right: 50px;
}
.bouquet-details{
  width: 160%;
}
.details-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button{
  width: 255px;
}
.bouquet-container .btn{
  background-color: white;
  border-color: #6E85B7;
  border-width: 2px;
  align-items: center;
  color: #6E85B7;
  font-weight: 500;
}
.bouquet-container .btn:hover{
  background-color: #6E85B7;
  color: #39445C;
}
.confirmation{
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
  width: 93%;
}
.confirmation button{
  height: 40px;
  font-weight: 500;
  border-radius: 5px;
}
.confirmation button:hover{
  background-color: #6E85B7;
  color: #39445C;
}
.button{
  background-color: white;
  border-color: #6E85B7;
  border-width: 2px;
  align-items: center;
  color: #6E85B7;
  font-weight: 500;
}
