<app-header></app-header>
<section class="custom-tie">
  <!-- Status Bar -->
  <div class="container mt-5">
    <h1>CUSTOMIZE YOUR BOUQUET</h1>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card-stepper text-black" style="border-radius: 16px;">
          <div class="card-body p-5">
            <ul id="progressbar-2" class="d-flex justify-content-between mx-0 mt-0 mb-4 px-0 pt-0 pb-0">
              <li class="step0 active text-center" id="step1"></li>
              <li class="step0 active text-center" id="step2"></li>
              <li class="step0 active text-center" id="step3"></li>
              <li class="step0 text-center" id="step4"></li>
              <li class="step0 text-center" id="step5"></li>
            </ul>
            <div class="d-flex justify-content-between mt-0 pt-0">
              <div class="">
                <p class="">FLOWER</p>
              </div>
              <div>
                <p class="">SLEEVE</p>
              </div>
              <div>
                <p class="ml"> TIE</p>
              </div>
              <div>
                <p class="ml"> CARD</p>
              </div>
              <div>
                <p class="">CONFIRM</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content -->
  <div class="container">
    <div class="d-flex justify-content-between my-5">
      <h5 class="fw-bold">Choose your choice of tie:</h5>
      <h4 id="change" class="fw-bold">1</h4>
    </div>
    <div class="items"> 
      <div class="bouquet-item">
          <a class="see-more" data-bs-toggle="modal" data-bs-target="#tie-1">
              <img src="assets/img/twine.png" alt="" class="img-fluid order-img">
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <h5 class="name fw-bold">Twine</h5>
                  <h6>₱12</h6>
              </div>
              <p>Bind your flowers with this twine thread for...</p>
          </a>
          <button class="btn btn-outline-primary w-100">add to bag</button>
      </div>
      <div class="bouquet-item">
          <a class="see-more" data-bs-toggle="modal" data-bs-target="#tie-2">
              <img src="assets/img/white ribbon.png" alt="" class="img-fluid order-img">
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <h5 class="name fw-bold">White Ribbon</h5>
                  <h6>₱6</h6>
              </div>
              <p>Can't decide? Go for a simple clean looking white...</p>
          </a>
          <button class="btn btn-outline-primary w-100">add to bag</button>
      </div>
      <div class="bouquet-item">
          <a class="see-more" data-bs-toggle="modal" data-bs-target="#tie-3">
              <img src="assets/img/pink ribbon.png" alt="" class="img-fluid order-img">
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <h5 class="name fw-bold">Pink Ribbon</h5>
                  <h6>₱6</h6>
              </div>
              <p>Are you kidding me?! You want something looking...</p>
          </a>
          <button class="btn btn-outline-primary w-100">add to bag</button>
      </div>
      <div class="bouquet-item">
          <a class="see-more" data-bs-toggle="modal" data-bs-target="#tie-4">
              <img src="assets/img/black ribbon.png" alt="" class="img-fluid order-img">
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <h5 class="name fw-bold">Black Ribbon</h5>
                  <h6>₱6</h6>
              </div>
              <p>What color brings more finesse in everything than...</p>
          </a>
          <button class="btn btn-outline-primary w-100">add to bag</button>
      </div>
    </div>
  
    <div class="confirmation mt-5 d-flex justify-content-between">
      <a routerLink="/order/custom-sleeve"><button class="btn btn-outline-primary">Back</button></a>
      <a routerLink="/order/custom-card"><button class="btn btn-outline-primary">Next</button></a>
    </div>
  </div>
</section>

<app-modals></app-modals>
<app-footer></app-footer>
