<app-header></app-header>
<section class="custom-tie">
  <!-- Status Bar -->
  <h3>CUSTOMIZE YOUR BOUQUET:</h3>
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card-stepper text-black" style="border-radius: 16px;">
          <div class="card-body p-5">
            <ul id="progressbar-2" class="d-flex justify-content-between mx-0 mt-0 mb-4 px-0 pt-0 pb-0">
              <li class="step0 active text-center" id="step1"></li>
              <li class="step0 active text-center" id="step2"></li>
              <li class="step0 active text-center" id="step3"></li>
              <li class="step0 text-center" id="step4"></li>
              <li class="step0 text-center" id="step5"></li>
            </ul>
            <div class="d-flex justify-content-between mt-0 pt-0">
              <div class="">
                <p class="">FLOWER</p>
              </div>
              <div>
                <p class="">SLEEVE</p>
              </div>
              <div>
                <p class="ml"> TIE</p>
              </div>
              <div>
                <p class="ml"> CARD</p>
              </div>
              <div>
                <p class="">CONFIRM</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content -->
  <div class="row-detail">
  <h5>Choose your choice of tie:</h5>
  <h5>1</h5>
  </div>
  <div class="center-container">
<div class="bouquet-container">
  <div class="bouquet-column">
    <div class="bouquet-items">
      <img src="assets/img/twine.png" alt="">
    </div>
    <div class="bouquet-details">
      <div class="details-row">
        <h4>Twine</h4>
        <p>₱12</p>
      </div>
      <p>Bind your flowers with this twine thread for.....<a class="see-more" onclick="PopUpTie1()">See More</a></p>
        <button class="btn-general">add to bag</button>
    </div>
  </div>
  <div class="bouquet-column">
    <div class="bouquet-items">
      <img src="assets/img/white ribbon.png" alt="">
    </div>
    <div class="bouquet-details">
      <div class="details-row">
        <h4>White ribbon</h4>
        <p>₱6</p>
      </div>
      <p>Can't decide? Go for a simple clean looking white.....<a class="see-more" onclick="PopUpTie2()">See More</a></p>
        <button class="btn-general">add to bag</button>
    </div>
  </div>
  <div class="bouquet-column">
    <div class="bouquet-items">
      <img src="assets/img/pink ribbon.png" alt="">
    </div>
    <div class="bouquet-details">
      <div class="details-row">
        <h4>Pink ribbon</h4>
        <p>₱6</p>
      </div>
      <p>Are you kidding me?! you want something looking.....<a class="see-more" onclick="PopUpTie3()">See More</a></p>
        <button class="btn-general">add to bag</button>
    </div>
  </div>
  <div class="bouquet-column">
    <div class="bouquet-items">
      <img src="assets/img/black ribbon.png" alt="">
    </div>
    <div class="bouquet-details">
      <div class="details-row">
        <h4>Black ribbon</h4>
        <p>₱6</p>
      </div>
      <p>What color brings more finesse in everything than.....<a class="see-more" onclick="PopUpTie4()">See More</a></p>
          <button class="btn-general">add to bag</button>
    </div>
  </div>
</div>
  </div>
  <div class="confirmation">
  <a routerLink="/order/custom-card"><button class="btn-general">Next</button></a>
</div>
<!-- Tie Popups -->
<!-- Tie #1 -->
<div class="popup" id="popup-tie-1">
  <div class="overlay"></div>
  <div class="pop-content">
    <div class="close-btn" onclick="PopUpTie1()">&times;</div>
    <h1 class="page-title">Twine</h1>
    <div class="pop-row">
      <img src="assets/img/twine.png">
      <p>Bind your flowers with this twine thread for a vintage-inspired, yet elegant, look.</p>
    </div>
  </div>
</div>
<!-- Tie #2 -->
<div class="popup" id="popup-tie-2">
  <div class="overlay"></div>
  <div class="pop-content">
    <div class="close-btn" onclick="PopUpTie2()">&times;</div>
    <h1 class="page-title">White satin ribbon</h1>
    <div class="pop-row">
      <img src="assets/img/white ribbon.png">
      <p>Can't decide? Go for a simple clean looking white ribbon for your flowers. Nothing can ever go wrong with white, right?</p>
    </div>
  </div>
</div>
<!-- Tie #3 -->
<div class="popup" id="popup-tie-3">
  <div class="overlay"></div>
  <div class="pop-content">
    <div class="close-btn" onclick="PopUpTie3()">&times;</div>
    <h1 class="page-title">Pink satin ribbon</h1>
    <div class="pop-row">
      <img src="assets/img/pink ribbon.png">
      <p>Are you kidding me?! you want something looking sweet and cute? Then, choose this pink ribbon for your flowers.</p>
    </div>
  </div>
</div>
<!-- Tie #4 -->
<div class="popup" id="popup-tie-4">
  <div class="overlay"></div>
  <div class="pop-content">
    <div class="close-btn" onclick="PopUpTie4()">&times;</div>
    <h1 class="page-title">Black satin ribbon</h1>
    <div class="pop-row">
      <img src="assets/img/black ribbon.png">
      <p>What color brings more finesse in everything than the color black? Bind your arranged flower with this ribbon!</p>
    </div>
  </div>
</div>
</section>
<app-footer></app-footer>
