<app-sidebar></app-sidebar>
<app-navbar></app-navbar>



<main id="main" class="main">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ORDER DETAILS</h5>
        <div class="div1">
          <div class="div2">
              
          <div class="customer-information">
              <h5><b>Customer Information</b></h5>

              <h6>Full Name:</h6>
              <h6 class="customer-detail">Full Name</h6>

              <h6>Phone Number:</h6>
              <h6 class="customer-detail">09...</h6>

              <h6>Address:</h6>
              <h6 class="address">Lorem Ipsum</h6>

              <h6>Email:</h6>
              <h6 class="customer-detail">loremipsum@gmail.com</h6>
          </div>

              <div class="order-option">
                  <h5><b>Order Option</b></h5>
                  <div class="order-option1">
                  <h6 class="order-opt">Pick-Up</h6>
                  <h6 class="order-date">March 15, 2022</h6>
                  </div>
              </div>

              <div class="order-status">
                  <h5><b>Order Status:</b></h5>
                  <h6 class="customer-detail">Pending</h6>
              </div>

              

          </div>

          <div class="div3">

              <div class="order-summary">
              
                  <h5><b>Order Summary</b> </h5>
                  <div class="first-container">
                      <div class="div-picture"> 
                          <div class="square"></div>
                      </div>
                      <div class="div-label">
                          <h6>Custom Bouquet</h6>
                          <ul class="custom-list">
                              <li>Kraft paper</li>
                              <li>Black Ribbon</li>
                              <li>Printed Card</li>
                          </ul>
                      </div>
                      <div class="div-price">
                          <h5><b>1700</b> </h5>
                      </div>
                  </div>

                  <div class="first-container">
                      <div class="div-picture"> 
                          <div class="square"></div>
                      </div>
                      <div class="div-label">
                          <h6>Pre-made Bouquet</h6>
                          <ul class="custom-list">
                              <li>Clear Plastic</li>
                              <li>Twine</li>
                              <li>Handwritten Card</li>
                          </ul>
                      </div>
                      <div class="div-price">
                          <h5><b>1700</b></h5>
                      </div>
                  </div>
              </div>

              <div class="payment-options">
                  <h5><b>Payment Options</b> </h5>
                          <ul class="custom-list">
                              <li><b>E-Wallet</b></li>
                              <li>Lorem Ipsum (e-wallet details)</li>
                              <li>Lorem Ipsum (e-wallet details)</li>
                              <li>Lorem Ipsum (e-wallet details)</li>
                          </ul>
              </div>

              <div class="total">
                  <h5><b>Total: </b> </h5>
                  <h5><b>1234</b> </h5>
              </div>
          </div>
        </div>
            <a routerLink="/sales">
                <button class="sales-view-details-btn">Back</button>
            </a> 
      </div>
    </div>

</main><!-- End #main -->



