<app-header></app-header>
<section class="custom-flower">

<div class="container">
  <h1 class="mb-5">CHOOSE YOUR FLOWER</h1>
  <div class="items"> 
      <div *ngFor="let item of flowerList" class="bouquet-item">
          <a class="see-more" routerLink="/gallery" fragment="flowers">
              <img src="{{item.image}}" alt="" class="img-fluid order-img">
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <h5 class="name fw-bold">{{item.name}}</h5>
                  <h6>₱{{item.price}}</h6>
              </div>
              <p>{{item.description}}</p>
          </a>
          <div class="d-flex">
            <!-- <input type="number" min="0" step="1" class="form-control no-effect w-25" id="amountInput" value="0"> -->
            <button class="btn btn-outline-primary w-100" (click)="addtobag(item)">add to bag</button>
          </div>
    </div>
  </div>

  <div class="confirmation mt-5 d-flex justify-content-between">
    <a routerLink="/order"><button class="btn btn-outline-primary">Back</button></a>
    <a routerLink="/order/order-list"><button class="btn btn-outline-primary">Go to Bag</button></a>
  </div>
</div>

</section>

<app-footer></app-footer>


