<app-header></app-header>
<section class="custom-flower">
  <!-- Status Bar -->
  <h3>CUSTOMIZE YOUR BOUQUET:</h3>
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card-stepper text-black" style="border-radius: 16px;">
            <div class="card-body p-5">
              <ul id="progressbar-2" class="d-flex justify-content-between mx-0 mt-0 mb-4 px-0 pt-0 pb-0">
                <li class="step0 active text-center" id="step1"></li>
                <li class="step0 text-center" id="step2"></li>
                <li class="step0 text-center" id="step3"></li>
                <li class="step0 text-center" id="step4"></li>
                <li class="step0 text-center" id="step5"></li>
              </ul>
              <div class="d-flex justify-content-between mt-0 pt-0">
                <div class="">
                  <p class="">FLOWER</p>
                </div>
                <div>
                  <p class="">SLEEVE</p>
                </div>
                <div>
                  <p class="ml"> TIE</p>
                </div>
                <div>
                  <p class="ml"> CARD</p>
                </div>
                <div>
                  <p class="">CONFIRM</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- Content -->
<!-- Quantity Sizes -->
<div class="row-category">
  <div class="pb-5 ps-5">
    <label for="chooseSize" class="col-2 col-form-label fw-bold d-flex justify-content-end"></label>
    <div class="col-4">
        <input type="radio" class="btn-check" name="size-options" id="small" autocomplete="off" checked>
        <label class="btn btn-label me-2" for="small" onclick="ChangeSmall()">Small</label>
        <input type="radio" class="btn-check" name="size-options" id="medium" autocomplete="off">
        <label class="btn btn-label me-2" for="medium" onclick="ChangeMedium()">Medium</label>
        <input type="radio" class="btn-check" name="size-options" id="large" autocomplete="off">
        <label class="btn btn-label me-2" for="large" onclick="ChangeLarge()">Large</label>
    </div>
  </div>
</div>
<div class="row-detail">
  <h5>Choose your choice of flowers:</h5>
  <h5 id="change">10</h5>
</div>
<div class="center-container">
  <div class="bouquet-container">
    <div class="bouquet-column">
      <div class="bouquet-items">
        <img src="assets/img/tulip.png" alt="">
      </div>
    <div class="bouquet-details">
      <div class="details-row">
        <h4>Single stem tulip</h4>
        <p>₱210</p>
      </div>
      <p>Tulips are a common choice for bridal flowers.....<a class="see-more" onclick="PopUpFlower1()">See More</a></p>
      <div class="wrapper">
        <span class="minus">-</span>
        <span class="num">01</span>
        <span class="plus">+</span>
      </div>
      <div class="add-btn">
        <button class="btn-bag">add to bag</button>
      </div>
    </div>
    </div>
  <div class="bouquet-column">
    <div class="bouquet-items">
      <img src="assets/img/rose.png" alt="">
    </div>
    <div class="bouquet-details">
      <div class="details-row">
        <h4>Single stem rose</h4>
        <p>₱100</p>
      </div>
      <p>Roses are symbol for appreciation. Want.....<a class="see-more" onclick="PopUpFlower2()">See More</a></p>
      <div class="wrapper">
        <span class="minus">-</span>
        <span class="num">01</span>
        <span class="plus">+</span>
      </div>
      <div class="add-btn">
        <button class="btn-bag">add to bag</button>
      </div>
    </div>
  </div>
  <div class="bouquet-column">
    <div class="bouquet-items">
      <img src="assets/img/lily.jpg" alt="">
    </div>
    <div class="bouquet-details">
      <div class="details-row">
        <h4>Single stem lily</h4>
        <p>₱232</p>
      </div>
      <p>Looking for a gift on someone's baby shower?.....<a class="see-more" onclick="PopUpFlower3()">See More</a></p>
      <div class="wrapper">
        <span class="minus">-</span>
        <span class="num">01</span>
        <span class="plus">+</span>
      </div>
      <div class="add-btn">
        <button class="btn-bag">add to bag</button>
      </div>
    </div>
  </div>
  <div class="bouquet-column">
    <div class="bouquet-items">
      <img src="assets/img/sunflower.png" alt="">
    </div>
    <div class="bouquet-details">
      <div class="details-row">
        <h4>Sunflower</h4>
        <p>₱260</p>
      </div>
      <p>Really, there is never a good moment or place.....<a class="see-more" onclick="PopUpFlower4()">See More</a></p>
        <div class="wrapper">
          <span class="minus">-</span>
          <span class="num">01</span>
          <span class="plus">+</span>
        </div>
        <div class="add-btn">
          <button class="btn-bag">add to bag</button>
        </div>
    </div>
  </div>
  </div>
</div>
<div class="center-container adjust">
  <div class="bouquet-container">
    <div class="bouquet-column">
      <div class="bouquet-items">
        <img src="assets/img/marigold.jpg" alt="">
      </div>
    <div class="bouquet-details">
      <div class="details-row">
        <h4>Marigold</h4>
        <p>₱290</p>
      </div>
      <p>Marigolds are a symbol of joy, they can be sent.....<a class="see-more" onclick="PopUpFlower5()">See More</a></p>
      <div class="wrapper">
        <span class="minus">-</span>
        <span class="num">01</span>
        <span class="plus">+</span>
      </div>
      <div class="add-btn">
        <button class="btn-bag">add to bag</button>
      </div>
    </div>
    </div>
  <div class="bouquet-column">
    <div class="bouquet-items">
      <img src="assets/img/pansy.jpg" alt="">
    </div>
    <div class="bouquet-details">
      <div class="details-row">
        <h4>Pansy flower</h4>
        <p>₱307</p>
      </div>
      <p>Has a secret message for someone? Well.....<a class="see-more" onclick="PopUpFlower6()">See More</a></p>
      <div class="wrapper">
        <span class="minus">-</span>
        <span class="num">01</span>
        <span class="plus">+</span>
      </div>
      <div class="add-btn">
        <button class="btn-bag">add to bag</button>
      </div>
    </div>
  </div>
  <div class="bouquet-column">
    <div class="bouquet-items">
      <img src="assets/img/dianthus.jpg" alt="">
    </div>
    <div class="bouquet-details">
      <div class="details-row">
        <h4>Dianthus flower</h4>
        <p>₱145</p>
      </div>
      <p>Dianthus flower also known as sweet williams.....<a class="see-more" onclick="PopUpFlower7()">See More</a></p>
      <div class="wrapper">
        <span class="minus">-</span>
        <span class="num">01</span>
        <span class="plus">+</span>
      </div>
      <div class="add-btn">
        <button class="btn-bag">add to bag</button>
      </div>
    </div>
  </div>
  <div class="bouquet-column">
    <div class="bouquet-items">
      <img src="assets/img/daisy.png" alt="">
    </div>
    <div class="bouquet-details">
      <div class="details-row">
        <h4>Daisy</h4>
        <p>₱232</p>
      </div>
      <p>A daisy can be given to someone on.....<a class="see-more" onclick="PopUpFlower8()">See More</a></p>
        <div class="wrapper">
          <span class="minus">-</span>
          <span class="num">01</span>
          <span class="plus">+</span>
        </div>
        <div class="add-btn">
          <button class="btn-bag">add to bag</button>
        </div>
    </div>
  </div>
  </div>
</div>
<div class="confirmation">
  <a routerLink="/order/custom-sleeve"><button class="button">Next</button></a>
</div>
<!-- Flower Popups -->
<!-- Flower #1 -->
<div class="popup" id="popup-flower-1">
  <div class="overlay"></div>
  <div class="pop-content">
    <div class="close-btn" onclick="PopUpFlower1()">&times;</div>
    <h1 class="page-title">Single stem tulip</h1>
    <div class="pop-row">
      <img src="assets/img/tulip.png">
      <p>Tulips are a common choice for bridal flowers. Would you like to give your loved ones a very sweet like a wedding surprise? You might be looking for a tulip!</p>
    </div>
  </div>
</div>
<!-- Flower #2 -->
<div class="popup" id="popup-flower-2">
  <div class="overlay"></div>
  <div class="pop-content">
    <div class="close-btn" onclick="PopUpFlower2()">&times;</div>
    <h1 class="page-title">Single stem rose</h1>
    <div class="pop-row">
      <img src="assets/img/rose.png">
      <p>Roses are symbol for appreciation. Want to express your gratitude to someone but are unsure of the best way to do so? What are you waiting for then? Buy them a rose!
      </p>
    </div>
  </div>
</div>
<!-- Flower #3 -->
<div class="popup" id="popup-flower-3">
  <div class="overlay"></div>
  <div class="pop-content">
    <div class="close-btn" onclick="PopUpFlower3()">&times;</div>
    <h1 class="page-title">Single stem lily</h1>
    <div class="pop-row">
      <img src="assets/img/lily.jpg">
      <p>Looking for a gift on someone's baby shower? graduation? anniversary? Well, lily symbolizes good will, prosperity and happiness. Get them one... or two... or a hundred now!</p>
    </div>
  </div>
</div>
<!-- Flower #4 -->
<div class="popup" id="popup-flower-4">
  <div class="overlay"></div>
  <div class="pop-content">
    <div class="close-btn" onclick="PopUpFlower4()">&times;</div>
    <h1 class="page-title">Sunflower</h1>
    <div class="pop-row">
      <img src="assets/img/sunflower.png">
      <p>Really, there is never a good moment or place to gift someone a sunflower. You consider someone to be cute? Give them a sunflower! Do you want to cheer someone up? Buy a sunflower for them!</p>
    </div>
  </div>
</div>
<!-- Flower #5 -->
<div class="popup" id="popup-flower-5">
  <div class="overlay"></div>
  <div class="pop-content">
    <div class="close-btn" onclick="PopUpFlower5()">&times;</div>
    <h1 class="page-title">Marigold</h1>
    <div class="pop-row">
      <img src="assets/img/marigold.jpg">
      <p>Marigolds are a symbol of joy, they can be sent as a gift on practically any occasion. You can never go wrong with warm shades of marigold.</p>
    </div>
  </div>
</div>
<!-- Flower #6 -->
<div class="popup" id="popup-flower-6">
  <div class="overlay"></div>
  <div class="pop-content">
    <div class="close-btn" onclick="PopUpFlower6()">&times;</div>
    <h1 class="page-title">Pansy flower</h1>
    <div class="pop-row">
      <img src="assets/img/pansy.jpg">
      <p>Has a secret message for someone? Well, wouldn't it be "pansy" to let them know using a flower? Pansy flower is used by forbidden lovers to convey secret messages. grab one and let someone know you love and think of them.</p>
    </div>
  </div>
</div>
<!-- Flower #7 -->
<div class="popup" id="popup-flower-7">
  <div class="overlay"></div>
  <div class="pop-content">
    <div class="close-btn" onclick="PopUpFlower7()">&times;</div>
    <h1 class="page-title">Dianthus flower</h1>
    <div class="pop-row">
      <img src="assets/img/dianthus.jpg">
      <p>Dianthus flower also known as sweet williams or pinks can be gifted in any special occasion. You don't have a special someone to give it to? No need to worry, they are edible!</p>
    </div>
  </div>
</div>
<!-- Flower #8 -->
<div class="popup" id="popup-flower-8">
  <div class="overlay"></div>
  <div class="pop-content">
    <div class="close-btn" onclick="PopUpFlower8()">&times;</div>
    <h1 class="page-title">Daisy</h1>
    <div class="pop-row">
      <img src="assets/img/daisy.png">
      <p>A daisy can be given to someone on circumstances other than pleasant or romantic ones, such as when expressing heartfelt sympathy.</p>
    </div>
  </div>
</div>
</section>
<app-footer></app-footer>


