#hero {
  width: 100%;
  height: 70vh;
  margin-top: 70px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #6E85B7;
}

#hero h2 {
  color: #39445C;
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .animated {
  height: 500px;
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

#about {
  background-color: var(--primary-color);
  color: white;
  padding-top: 90px;
}

.card {
  border-radius: 10px;
}

.card-title h4 {
  color: var(--primary-color);
}

.card-img-top {
  object-fit: cover;
  height: 350px;
  position: relative;
}

.social {
  position: absolute;
  left: 0;
  bottom: 130px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.social a {
  transition: color 0.3s;
  color: #39445C;
  margin: 0 3px;
  padding-top: 7px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  background: var(--primary-color);
  display: inline-block;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.social a:hover {
  background-color: var(--dark-text);
}

.member-img:hover .social {
  opacity: 1;
  bottom: 90px;
}

.last {
  color: var(--primary-color);
  padding: 50px;
  background-color: #f6f9ff;
}

/* .section-title{
  color: #6E85B7;
}
.section-title h2{
  font-weight: 700;
}
.team {
  padding: 60px 0;
  display: flex;
  padding-bottom: 70px;
}
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);
}
.team .member .member-img {
  position: relative;
  overflow: hidden;
}
.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}
.team .member .social a {
  transition: color 0.3s;
  color: #39445C;
  margin: 0 3px;
  padding-top: 7px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  background: #6E85B7;
  display: inline-block;
  transition: ease-in-out 0.3s;
  color: #fff;
}
.team .member .social a:hover {
  background: #6E85B7;
}
.team .member .social i {
  font-size: 18px;
}
.team .member .member-info {
  padding: 25px 15px;
}
.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #6E85B7;
}
.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}
.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #6E85B7;
}
.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}
 */
