#hero {
  width: 80%;
  /* height: 70vh; */
  margin-top: 70px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #6E85B7;
}

#hero h2 {
  color: #39445C;
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .animated {
  width: 100%;
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@media (max-width:991px) {
  #hero .animated {
    width: 50%;
  }
}

#about {
  background-color: var(--primary-color);
  color: white;
  padding-top: 90px;
}

.card {
  border-radius: 10px;
}

.card-title h4 {
  color: var(--primary-color);
}

.card-img-top {
  object-fit: cover;
  /* height: 350px; */
  position: relative;
}

.social {
  position: absolute;
  left: 0;
  bottom: 130px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.social a {
  transition: color 0.3s;
  color: #39445C;
  margin: 0 3px;
  padding-top: 7px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  background: var(--primary-color);
  display: inline-block;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.social a:hover {
  background-color: var(--dark-text);
}

.member-img:hover .social {
  opacity: 1;
  bottom: 90px;
}

.last {
  color: var(--primary-color);
  padding: 50px;
  background-color: #f6f9ff;
}

.team-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

@media (max-width: 550px) {
  .team-card {
    grid-template-columns: 1fr 1fr;
  }
}
