<app-header></app-header>

<section id="hero">
  <div class="container pt-5">
      <div class="row d-flex align-items-center">
        <div class="col-12 col-lg-6 text-center">
          <img src="assets/img/about-header.png" alt="about pic" class="img-fluid animated">
        </div>
        <div class="col-12 col-lg-6 mt-4 mt-lg-0">
          <h1>About Blooming Inc.</h1>
          <h2>A small company here to help you spread the love, one flower at a time.</h2>
        </div>
      </div>
  </div>
</section>

<section id="about" class="about pb-5 mt-5">
  <div class="container text-center px-5">
    <h1 class="fw-bold mb-3">About Us</h1>
    <h6>
      Bloom Inc. aims to be your number one wingman! We're a small company dedicated in delivering the most beautiful bouquets for you to give to your loved ones. 
      Make it more special and personal by making it your own with us. We're here to help you spread the love, one flower at a time. 
    </h6>
    <div class="row m-5">
      <div class="col-12 col-md-4">
        <i class="bi bi-spellcheck" style="font-size: 70px;"></i>
        <h5>Easy and Convenient</h5>
      </div>
      <div class="col-12 col-md-4 my-5 my-md-0">
        <i class="bi bi-person-hearts" style="font-size: 70px;"></i>
        <h5>User-friendly</h5>
      </div>
      <div class="col-12 col-md-4">
        <i class="bi bi-sliders" style="font-size: 70px;"></i>
        <h5>Allows customization of flower bouquets</h5>
      </div>
    </div>
  </div>
</section>

<section id="team" class="team">
  <div class="container text-center px-5 mt-5">
    <h1 class="fw-bold mb-3" style="color: var(--primary-color);">Meet the Team!</h1>
    <p>
      Bloom Inc. was recently launched by students from INF202 which focused on creating an easy and convenient way of buying 
      flowers for your loved ones on a special occassion or just any old day!
    </p>
    <div class="row gx-5 mt-4">
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card shadow border-0">
          <div class="member-img mb-3">
            <img src="assets/img/pat.jpg" class="img-fluid card-img-top" alt="">
            <div class="social">
              <!-- <a href=""><i class="bi bi-twitter"></i></a> -->
              <a href="https://www.facebook.com/patriciamariebucala/" target="_blank"><i class="bi bi-facebook"></i></a>
              <a href="https://instagram.com/gem_mrld?igshid=YmMyMTA2M2Y=" target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="https://github.com/PMB129"><i class="bi bi-git" target="_blank"></i></a>
            </div>
          </div>
          <div class="card-title">
            <h4 class="fw-bold mb-0">Bucala</h4>
            <span class="text-muted">Patricia Marie</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card shadow border-0">
          <div class="member-img mb-3">
            <img src="assets/img/gab.jpg" class="img-fluid card-img-top" alt="">
            <div class="social">
              <!-- <a href=""><i class="bi bi-twitter"></i></a> -->
              <a href="https://www.facebook.com/gabbydavid51" target="_blank"><i class="bi bi-facebook"></i></a>
              <a href="https://instagram.com/gabbydavid" target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="https://github.com/gabby-navi" target="_blank"><i class="bi bi-git"></i></a>
            </div>
          </div>
          <div class="card-title">
            <h4 class="fw-bold mb-0">David</h4>
            <span class="text-muted">Gabrille</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card shadow border-0">
          <div class="member-img mb-3">
            <img src="assets/img/she.jpg" class="img-fluid card-img-top" alt="">
            <div class="social">
              <!-- <a href=""><i class="bi bi-twitter"></i></a> -->
              <a href="https://www.facebook.com/Sheryl.Franciscoo" target="_blank"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/itsmeshengmalik" target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="https://github.com/SherylFrancisco" target="_blank"><i class="bi bi-git"></i></a>
            </div>
          </div>
          <div class="card-title">
            <h4 class="fw-bold mb-0">Francisco</h4>
            <span class="text-muted">Sheryl</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row gx-5 mt-4 pb-3">
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card shadow border-0">
          <div class="member-img mb-3">
            <img src="assets/img/niel.jpg" class="img-fluid card-img-top" alt="">
            <div class="social">
              <!-- <a href=""><i class="bi bi-twitter"></i></a> -->
              <a href="https://www.facebook.com/srgnne.mendoza" target="_blank"><i class="bi bi-facebook"></i></a>
              <a href="https://instagram.com/_nsrgn?igshid=YmMyMTA2M2Y=" target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="https://github.com/niel-m" target="_blank"><i class="bi bi-git"></i></a>
            </div>
          </div>
          <div class="card-title">
            <h4 class="fw-bold mb-0">Mendoza</h4>
            <span class="text-muted">Niel Sergianne</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card shadow border-0">
          <div class="member-img mb-3">
            <img src="assets/img/team-1.jpg" class="img-fluid card-img-top" alt="">
            <div class="social">
              <!-- <a href=""><i class="bi bi-twitter"></i></a> -->
              <a href="https://www.facebook.com/raeganfaith.paguirigan" target="_blank"><i class="bi bi-facebook"></i></a>
              <a href="https://instagram.com/rafaegan_?igshid=YmMyMTA2M2Y=" target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="https://github.com/raeganfaith" target="_blank"><i class="bi bi-git"></i></a>
            </div>
          </div>
          <div class="card-title">
            <h4 class="fw-bold mb-0">Paguirigan</h4>
            <span class="text-muted">Raegan Faith</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card shadow border-0">
          <div class="member-img mb-3">
            <img src="assets/img/jed.jpg" class="img-fluid card-img-top" alt="">
            <div class="social">
              <!-- <a href=""><i class="bi bi-twitter"></i></a> -->
              <a href="https://www.facebook.com/jedtanhahahaha" target="_blank"><i class="bi bi-facebook"></i></a>
              <a href="https://instagram.com/_jidjud?igshid=YmMyMTA2M2Y=" target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="https://github.com/jedpogi54321" target="_blank"><i class="bi bi-git"></i></a>
            </div>
          </div>
          <div class="card-title">
            <h4 class="fw-bold mb-0">Tan</h4>
            <span class="text-muted">Jed</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container last mt-5 shadow">
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md-10 order-2 order-md-1">
      <h4><strong>Do you desire anything more unique and romantic?</strong></h4>
      <p>
        Customize your bouquet by hand picking your own flowers and selecting the 
        best sleeve and tie to go with it! Additionally, there are pre-made bouquets of exquisitely arranged flowers. Even better, 
        include a greeting card with your bouquet of flowers.
      </p>
      <a routerLink="/order"><button class="btn btn-outline-primary mt-3 px-5 py-2" style="border-radius: 30px;">Order Now</button></a>
    </div>
    <div class="col-12 col-md-2 text-center order-1 order-md-2">
      <i class="bi bi-flower1" style="font-size: 100px;"></i>
    </div>
  </div>
  
</section>

<app-footer></app-footer>
