<app-header></app-header>
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>About Us</h2>
    </div>
    <div class="row content">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
        <p>
          Bloom Inc. is absolutely FREE for customers! That's right, the company is a 100% customer focused website which looks at 
          making shopping an easy task for the consumer.
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> Easy and convenient</li>
          <li><i class="ri-check-double-line"></i> User-friendly</li>
          <li><i class="ri-check-double-line"></i> Allows customization of flower bouquets</li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
        <p>
          Bloom Inc. was recently launched by students from INF202 which focused on creating an easy and convenient way of buying 
          flowers for your loved ones on a special occassion or just any old day!<br><br>
          Do you desire anything more unique and romantic? Customize your bouquet by hand picking your own flowers and selecting the 
          best sleeve and tie to go with it! Additionally, there are pre-made bouquets of exquisitely arranged flowers. Even better, 
          include a greeting card with your bouquet of flowers.
        </p>
      </div>
    </div>
  </div>
</section><!-- End About Us Section -->
<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Meet the Team!</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="assets/img/team-1.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Bucala</h4>
            <span>Patricia Marie</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="200">
          <div class="member-img">
            <img src="assets/img/team-1.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>David</h4>
            <span>Gabrille</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="300">
          <div class="member-img">
            <img src="assets/img/team-1.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Francisco</h4>
            <span>Sheryl</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="400">
          <div class="member-img">
            <img src="assets/img/team-1.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Mendoza</h4>
            <span>Niel Sergianne</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="200">
          <div class="member-img">
            <img src="assets/img/team-1.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Paguirigan</h4>
            <span>Raegan Faith</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="300">
          <div class="member-img">
            <img src="assets/img/team-1.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Tan</h4>
            <span>Jed</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Team Section -->
<app-footer></app-footer>
