<app-sidebar></app-sidebar>
<app-navbar></app-navbar>

<main>
    <div class="row mb-3">
        <div class="col-4">
            <input type="search" class="form-control light-table-filter" data-table="order-table" placeholder="Search">
        </div>
    </div>
    <div class="card">
        <table class="table table-hover order-table">
            <thead>
            <tr class="text-uppercase">
                <th scope="col">Order Number</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Date Delivered</th>
            </tr>
            </thead>
            <tbody>
                <tr class="align-middle" *ngFor="let row of historyData">
                    <th scope="row">{{row.id}}</th>
                    <td>{{row.fullName}}</td>
                    <td>{{row.contact}}</td>
                    <td>{{row.date}}</td> 
                </tr>

            </tbody>
        </table>
    </div>
</main>
