.mode-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 30px;
}
.mode-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}
.mode{
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  width: 80%;
  height: 400px;
  background-color: #6E85B7;
  padding: 60px;
}
.customize  {
  font-size: 40px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.mode:hover{
  background-color: #5871a9;
}
