<app-sidebar></app-sidebar>
<app-navbar></app-navbar>

<main>
    <div class="row">
        <div class="col-2">
            <select class="form-select" aria-label="Default select example">
                <option selected>All</option>
                <option value="1">Bouquet Cover</option>
                <option value="2">Bouquet Tie</option>
                <option value="3">Card</option>
                <option value="4">Active</option>
                <option value="5">Inactive</option>
                <option value="6">Low in stock</option>
            </select>
        </div>
        <div class="col-8"></div>
        <div class="col-2 d-flex justify-content-end">
            <button class="btn btn-success"><i class="bi bi-plus-circle pe-2"></i>Add Material</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-3">
            <div class="card">
                <img src="assets/img/sample-bouquet.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Material Name</h5>
                    <p class="card-text">₱50</p>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" routerLink="#">View Details</a></li>
                        <li><a class="dropdown-item" routerLink="#">Set as Inactive</a></li>
                        <li><a class="dropdown-item" routerLink="#">Delete</a></li>
                        </ul>
                    </div>
                    <div class="stock-left">
                        <p class="m-0"><b>50</b> in stock</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img src="assets/img/sample-bouquet.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Material Name</h5>
                    <p class="card-text">₱50</p>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" routerLink="#">View Details</a></li>
                        <li><a class="dropdown-item" routerLink="#">Set as Inactive</a></li>
                        <li><a class="dropdown-item" routerLink="#">Delete</a></li>
                        </ul>
                    </div>
                    <div class="stock-left">
                        <p class="m-0"><b>50</b> in stock</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img src="assets/img/sample-bouquet.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Material Name</h5>
                    <p class="card-text">₱50</p>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" routerLink="#">View Details</a></li>
                        <li><a class="dropdown-item" routerLink="#">Set as Inactive</a></li>
                        <li><a class="dropdown-item" routerLink="#">Delete</a></li>
                        </ul>
                    </div>
                    <div class="stock-left">
                        <p class="m-0"><b>50</b> in stock</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img src="assets/img/sample-bouquet.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Material Name</h5>
                    <p class="card-text">₱50</p>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" routerLink="#">View Details</a></li>
                        <li><a class="dropdown-item" routerLink="#">Set as Inactive</a></li>
                        <li><a class="dropdown-item" routerLink="#">Delete</a></li>
                        </ul>
                    </div>
                    <div class="stock-left">
                        <p class="m-0"><b>50</b> in stock</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
