<app-sidebar></app-sidebar>
<app-navbar></app-navbar>

<main>
    <div class="card">
        <table class="table table-hover">
            <thead>
            <tr class="text-uppercase">
                <th scope="col">Page Title</th>
                <th scope="col">Page Description</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                <tr class="align-middle">
                    <th scope="row">Home</th>
                    <td>Landing Page</td>
                    <td><span class="badge bg-success textDiv" id="status">Online</span></td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">View Details</a></li>
                            <li><a class="dropdown-item" routerLink="">Edit Details</a></li>
                            <li><a class="dropdown-item" onclick="toggleText();myFunction()">Toggle Status</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#delete-page">Delete</a></li>
                            </ul>
                        </div>
                    </td>   
                </tr>

                <div class="modal fade" id="delete-page" tabindex="-1" aria-labelledby="delete-page-label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="card p-3 pt-0">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-end">
                                            <i class="bi bi-x" data-bs-dismiss="modal" style="font-size: 2rem; color: black;"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <i class="bi bi-exclamation-triangle" style="color: red; font-size: 5rem;"></i>
                                            <h4 class="fw-bold">Are you sure you want to delete?</h4>
                                            <p class="px-4">You are about to delete this page. This action cannot be undone. Are you sure you want to continue?</p>
                                            <div class="choices">
                                                <button type="button" class="btn btn-danger mt-4 mb-2 mx-2 px-5 shadow" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#deleted-successfully">Delete</button>
                                                <button type="button" class="btn btn-primary mt-4 mb-2 mx-2 px-5 shadow" data-bs-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="modal fade" id="deleted-successfully" tabindex="-1" aria-labelledby="edit-bouquet-label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="card p-3 pt-0">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-end">
                                            <i class="bi bi-x" data-bs-dismiss="modal" style="font-size: 2rem; color: black;"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <i class="bi bi-check-circle" style="color: red; font-size: 5rem;"></i>
                                            <h4 class="fw-bold">Deleted!</h4>
                                            <p class="px-4">You've successfully deleted this bouquet.</p>
                                            <button type="button" class="btn btn-primary mt-4 mb-2 px-5 shadow" data-bs-dismiss="modal">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <tr class="align-middle">
                    <th scope="row">About</th>
                    <td>About the Company and the Team</td>
                    <td><span class="badge bg-success textDiv" id="status">Online</span></td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">View Details</a></li>
                            <li><a class="dropdown-item" routerLink="">Edit Details</a></li>
                            <li><a class="dropdown-item">Toggle Status</a></li>
                            <li><a class="dropdown-item" routerLink="">Delete</a></li>
                            </ul>
                        </div>
                    </td>   
                </tr>
                <tr class="align-middle">
                    <th scope="row">Order</th>
                    <td>Custom and Arranged Bouquet Orders</td>
                    <td><span class="badge bg-success textDiv" id="status">Online</span></td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">View Details</a></li>
                            <li><a class="dropdown-item" routerLink="">Edit Details</a></li>
                            <li><a class="dropdown-item">Toggle Status</a></li>
                            <li><a class="dropdown-item" routerLink="">Delete</a></li>
                            </ul>
                        </div>
                    </td>   
                </tr>
                <tr class="align-middle">
                    <th scope="row">Contact</th>
                    <td>Contact Information of the Company</td>
                    <td><span class="badge bg-success textDiv" id="status">Online</span></td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">View Details</a></li>
                            <li><a class="dropdown-item" routerLink="">Edit Details</a></li>
                            <li><a class="dropdown-item">Toggle Status</a></li>
                            <li><a class="dropdown-item" routerLink="">Delete</a></li>
                            </ul>
                        </div>
                    </td>   
                </tr>
            </tbody>
        </table>
    </div>
</main>
