<app-sidebar></app-sidebar>
<app-navbar></app-navbar>

<main>
    <div class="card">
        <table class="table table-hover">
            <thead>
            <tr class="text-uppercase">
                <th scope="col">Page Title</th>
                <th scope="col">Page Description</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                <tr class="align-middle">
                    <th scope="row">Home</th>
                    <td>Landing Page</td>
                    <td><span class="badge bg-success">Active</span></td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">View Details</a></li>
                            <li><a class="dropdown-item" routerLink="">Edit Details</a></li>
                            <li><a class="dropdown-item" routerLink="">Set Inactive</a></li>
                            <li><a class="dropdown-item" routerLink="">Delete</a></li>
                            </ul>
                        </div>
                    </td>   
                </tr>
                <tr class="align-middle">
                    <th scope="row">About</th>
                    <td>About the Company and the Team</td>
                    <td><span class="badge bg-success">Active</span></td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">View Details</a></li>
                            <li><a class="dropdown-item" routerLink="">Edit Details</a></li>
                            <li><a class="dropdown-item" routerLink="">Set Inactive</a></li>
                            <li><a class="dropdown-item" routerLink="">Delete</a></li>
                            </ul>
                        </div>
                    </td>   
                </tr>
                <tr class="align-middle">
                    <th scope="row">Order</th>
                    <td>Custom and Arranged Bouquet Orders</td>
                    <td><span class="badge bg-success">Active</span></td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">View Details</a></li>
                            <li><a class="dropdown-item" routerLink="">Edit Details</a></li>
                            <li><a class="dropdown-item" routerLink="">Set Inactive</a></li>
                            <li><a class="dropdown-item" routerLink="">Delete</a></li>
                            </ul>
                        </div>
                    </td>   
                </tr>
                <tr class="align-middle">
                    <th scope="row">Contact</th>
                    <td>Contact Information of the Company</td>
                    <td><span class="badge bg-success">Active</span></td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">View Details</a></li>
                            <li><a class="dropdown-item" routerLink="">Edit Details</a></li>
                            <li><a class="dropdown-item" routerLink="">Set Inactive</a></li>
                            <li><a class="dropdown-item" routerLink="">Delete</a></li>
                            </ul>
                        </div>
                    </td>   
                </tr>
            </tbody>
        </table>
    </div>
</main>
