<app-header></app-header>
<section class="arranged">
  <h3>CUSTOMIZE YOUR BOUQUET:</h3>
  <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12">
              <div class="card-stepper text-black" style="border-radius: 16px;">

                  <div class="card-body p-5">

                      <ul id="progressbar-2" class="d-flex justify-content-between mx-0 mt-0 mb-4 px-0 pt-0 pb-0">
                          <li class="step0 active text-center" id="step1"></li>
                          <li class="step0 text-center" id="step2"></li>
                          <li class="step0 text-center" id="step3"></li>
                          <li class="step0 text-center" id="step4"></li>
                          <li class="step0 text-muted text-end" id="step5"></li>
                      </ul>

                      <div class="d-flex justify-content-between mt-0 pt-0">
                          <div class="">
                              <p class="">FLOWER</p>
                          </div>
                          <div>
                              <p class="">SLEEVE</p>
                          </div>
                          <div>
                              <p class="ml"> TIE</p>
                          </div>
                          <div>
                              <p class="ml"> CARD</p>
                          </div>
                          <div>
                              <p class="">CONFIRM</p>
                          </div>

                      </div>

                  </div>

              </div>
          </div>
      </div>
  </div>

  <div class="row-detail">
    <h5>Choose your choice of flowers:</h5>
    <h5>20</h5>
  </div>

  <div class="card-mode">
    <div class="cust">
      <button class="button mode-btn">Printed</button>
      <button class="button mode-btn">Handwritten</button>
    </div>
  </div>

  <div class="form">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">To</label>
        <input type="text" class="form-control">
        <div id="receiver" class="form-text"></div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="text" class="form-control" >
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Message</label>
        <input type="text" class="form-control message" >
        <div id="emailHelp" class="form-text">Limit your message into 50 words.</div>
      </div>
    </form>
  </div>
  <div class="confirmation">
    <a href="custom-confirm"><button class="button">Next</button></a>
  </div>
</section>
<app-footer></app-footer>
