<app-header></app-header>

<section id="contact" class="contact">
  <div class="container">
    <div class="row d-flex align-items-center pb-5">
      <div class="col-12 col-lg-6 order-2 order-lg-1 mt-4 mt-lg-0">
        <h1>Contact Us</h1>
        <h5>We are willing to make changes! If you have any questions, concerns, or issues, we're here to assist you. Send us a message and let us know how we can make our service better.</h5>
      </div>
      <div class="col-12 col-lg-6 text-center order-1 order-lg-2">
        <img src="assets/img/contact-img.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row pt-5 text-center text-lg-start">
      <div class="col-12 col-lg-4">
        <div class="info">
          <div>
            <i class="ri-map-pin-line"></i>
            <p>M.F. Jhocson Street<br>Manila, 1008 Metro Manila,<br>Philippines</p>
          </div>
          <div>
            <i class="ri-mail-send-line"></i>
            <p><strong>Email:</strong> 22bloom.inc@gmail.com</p>
          </div>
          <div>
            <i class="ri-phone-line"></i>
            <p><strong>Phone:</strong> (+63)923 456 7891</p>
          </div>
        </div>
        <div class="social-links mt-5 mb-5 mb-lg-0">
          <a href="#" class="twitter me-3"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook me-3"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram me-3"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <form action="https://formspree.io/f/mrgdrzro" method="POST" role="form" class="php-email-form">
          <div class="form-group mb-2">
            <input type="text" name="name" class="form-control name" id="name" placeholder="Your Name" required>
          </div>
          <div class="form-group mb-2">
            <input type="email" class="form-control email" name="email" id="email" placeholder="Your Email" value="22bloom.inc@gmail.com" disabled>
          </div> 
          <div class="form-group mb-2">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
          </div>
          <div class="form-group mb-2">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button class="btn btn-outline-primary px-5 py-2" type="submit" style="border-radius: 30px;">Send Message</button></div>
        </form>
      </div>
    </div>
  </div>
</section>


<app-footer></app-footer>
