<app-sidebar></app-sidebar>
<app-navbar></app-navbar>


<main>
    <div class="card">
        <h5 class="card-title">Order Details</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h5>Customer Information</h5>
                    <form class="my-4">
                        <div class="mb-3 row">
                            <label for="inputName" class="col-3 col-form-label fw-bold d-flex justify-content-end">Full Name</label>
                            <div class="col-9">
                                <input type="type" class="form-control" id="inputName" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputNumber" class="col-3 col-form-label fw-bold d-flex justify-content-end">Contact Number</label>
                            <div class="col-9">
                                <input type="type" class="form-control" id="inputNumber" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputAdd" class="col-3 col-form-label fw-bold d-flex justify-content-end">Address</label>
                            <div class="col-9">
                                <textarea class="form-control" id="inputAdd" rows="3" disabled></textarea>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputEmail" class="col-3 col-form-label fw-bold d-flex justify-content-end">Email</label>
                            <div class="col-9">
                                <input type="type" class="form-control" id="inputEmail" disabled>
                            </div>
                        </div>
                    </form>
                    <h5>Order Information</h5>
                    <form class="my-4">
                        <select class="form-select" aria-label="Default select example" disabled>
                            <option selected>Delivery</option>
                            <option value="1">Pickup</option>
                        </select>
                        <div class="row mt-4">
                            <div class="col-6">
                                <div class="input-group date" id="datepicker">
                                    <label for="order-date">Date Ordered</label>
                                    <input type="text" class="form-control" id="order-date">
                                    <span class="input-group-text bg-white"><i class="bi bi-calendar"></i></span> 
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group date" id="datepicker">
                                    <label for="order-complete">Date Completed</label>
                                    <input type="text" class="form-control" id="order-complete">
                                    <span class="input-group-text bg-white"><i class="bi bi-calendar"></i></span> 
                                </div>
                            </div>
                        </div>
                    </form>
                    <h5>Order Status</h5>
                    <select class="form-select my-4" aria-label="Default select example" disabled>
                        <option selected>Pending</option>
                        <option value="1">Processing</option>
                        <option value="2">Completed</option>
                        <option value="3">Reject</option>
                    </select>
                </div>
                <div class="col-6">
                    <h5>Order Summary</h5>
                </div>
            </div>
        </div>
    </div>
</main>