<app-sidebar></app-sidebar>
<app-navbar></app-navbar>


<main>
    <div class="row">
        <div class="col-12 mb-3">
            <a routerLink="../purchases"><button class="btn btn-primary"><i class="bi bi-caret-left-fill pe-2"></i>Back</button></a>
        </div>
    </div>
    <div class="card">
        <h5 class="card-title">Order Details</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h5 class="title">Customer Information</h5>
                    <form class="my-4">
                        <div class="mb-3 row">
                            <label for="inputName" class="col-3 col-form-label fw-bold d-flex justify-content-end">Full Name</label>
                            <div class="col-9">
                                <input type="type" class="form-control" id="inputName" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputNumber" class="col-3 col-form-label fw-bold d-flex justify-content-end">Contact Number</label>
                            <div class="col-9">
                                <input type="type" class="form-control" id="inputNumber" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputAdd" class="col-3 col-form-label fw-bold d-flex justify-content-end">Address</label>
                            <div class="col-9">
                                <textarea class="form-control" id="inputAdd" rows="3" disabled></textarea>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputEmail" class="col-3 col-form-label fw-bold d-flex justify-content-end">Email</label>
                            <div class="col-9">
                                <input type="type" class="form-control" id="inputEmail" disabled>
                            </div>
                        </div>
                    </form>
                    <h5 class="title">Order Information</h5>
                    <form class="my-4">
                        <select class="form-select" aria-label="Default select example" disabled>
                            <option selected>Delivery</option>
                            <option value="1">Pickup</option>
                        </select>
                        <div class="row mt-4">
                            <div class="col-6">
                                <label for="choosedate" class="form-label fw-bold">Date Ordered</label>
                                <input class="w-100 p-1 rounded border border-2" type="date" name="choosedate" id="choosedate" min="2022-01-01" max="3022-12-31" disabled>
                            </div>
                            <div class="col-6">
                                <label for="choosedate" class="form-label fw-bold">Date Completed</label>
                                <input class="w-100 p-1 rounded border border-2" type="date" name="choosedate" id="choosedate" min="2022-01-01" max="3022-12-31" disabled>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-5 offset-1">
                    <h5 class="title">Order Summary</h5>
                    <div class="row my-4">
                        <div class="col-3">
                            <img src="assets/img/bouquet sample 1.jpg" alt="Flower bouquet picture" class="order-img img-fluid">
                        </div>
                        <div class="col-7">
                            <h5 class="item-name fw-bold">Custom Bouquet</h5>
                            <h6 class="details">Kraft Paper</h6>
                            <h6 class="details">Black Ribbon</h6>
                            <h6 class="details">Printed Card</h6>
                        </div>
                        <div class="col-2 d-flex justify-content-end">
                            <h5 class="fw-bold">₱1700</h5>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-3">
                            <img src="assets/img/bouquet sample 2.jpg" alt="Flower bouquet picture" class="order-img img-fluid">
                        </div>
                        <div class="col-7">
                            <h5 class="item-name fw-bold">Arranged Bouquet</h5>
                            <h6 class="details">Clear Plastic</h6>
                            <h6 class="details">Twine</h6>
                            <h6 class="details">Handwritten Card</h6>
                        </div>
                        <div class="col-2 d-flex justify-content-end">
                            <h5 class="fw-bold">₱1650</h5>
                        </div>
                    </div>
                    <h5 class="title">Total Amount</h5>
                    <div class="row mt-4">
                        <div class="col-12 d-flex justify-content-between">
                            <h6>Subtotal</h6>
                            <h6 class="fw-bold">₱3350</h6>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-12 d-flex justify-content-between">
                            <h6>Delivery Fee</h6>
                            <h6 class="fw-bold">₱60</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-between">
                            <h6 class="fw-bold">Total</h6>
                            <h6 class="fw-bold">₱3410</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">                
            <button type="button" class="btn btn-outline-danger px-3" data-bs-toggle="modal" data-bs-target="#delete-purchaseo">
                Delete
            </button>
            
            <div class="modal fade" id="delete-purchaseo" tabindex="-1" aria-labelledby="delete-purchaseo-label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="card p-3 pt-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-end">
                                        <i class="bi bi-x" data-bs-dismiss="modal" style="font-size: 2rem; color: black;"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <i class="bi bi-exclamation-triangle" style="color: red; font-size: 5rem;"></i>
                                        <h4 class="fw-bold">Are you sure you want to delete?</h4>
                                        <p class="px-4">You are about to delete this purchase order. This action cannot be undone. Are you sure you want to continue?</p>
                                        <div class="choices">
                                            <button type="button" class="btn btn-danger mt-4 mb-2 mx-2 px-5 shadow" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#deleted-successfully">Delete</button>
                                            <button type="button" class="btn btn-primary mt-4 mb-2 mx-2 px-5 shadow" data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="deleted-successfully" tabindex="-1" aria-labelledby="edit-purchases-label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="card p-3 pt-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-end">
                                        <a routerLink="../purchases"><i class="bi bi-x" data-bs-dismiss="modal" style="font-size: 2rem; color: black;"></i></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <i class="bi bi-check-circle" style="color: red; font-size: 5rem;"></i>
                                        <h4 class="fw-bold">Deleted!</h4>
                                        <p class="px-4">You've successfully deleted this purchase order.</p>
                                        <a routerLink="../purchases"><button type="button" class="btn btn-primary mt-4 mb-2 px-5 shadow" data-bs-dismiss="modal">OK</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</main>