section {
    padding-top: 100px;
    padding-bottom: 50px;
}

section h1 {
    color: var(--primary-color);
    font-weight: bold;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
  
.order-img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

.card {
    border: none;
    border-radius: 20px;
    height: 100%;
}

.category {
    font-weight: bold;
    color: var(--dark-text);
    text-transform: uppercase;
    text-align: center;
}