<app-header></app-header>

<section>
    <div class="container">
        <h1>Gallery</h1>
        <h4 class="category mt-3" id="bouquets">Bouquets</h4>
        <div class="items mt-3">
            <div class="bouquet-item">
                <a class="see-more" data-bs-toggle="modal" data-bs-target="#bouquet-1">
                    <div class="card shadow">
                        <div class="card-body">
                            <img src="assets/img/pinky pinks.png" alt="" class="img-fluid order-img">
                            <h5 class="mt-3 fw-bold">Pinky Pinks</h5>
                            <p>What do we say when you want to treat your...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="bouquet-item">
                <a class="see-more" data-bs-toggle="modal" data-bs-target="#bouquet-2">
                    <div class="card shadow">
                        <div class="card-body">
                            <img src="assets/img/summer treat.png" alt="" class="img-fluid order-img">
                            <h5 class="mt-3 fw-bold">Summer Treat</h5>
                            <p>A combination of purple orange and pink...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="bouquet-item">
                <a class="see-more" data-bs-toggle="modal" data-bs-target="#bouquet-1">
                    <div class="card shadow">
                        <div class="card-body">
                            <img src="assets/img/spring-y.png" alt="" class="img-fluid order-img">
                            <h5 class="mt-3 fw-bold">Spring-y</h5>
                            <p>Pastel colored flowers all in one bouquet, make...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="bouquet-item">
                <a class="see-more" data-bs-toggle="modal" data-bs-target="#bouquet-2">
                    <div class="card shadow">
                        <div class="card-body">
                            <img src="assets/img/sunny surprise.png" alt="" class="img-fluid order-img">
                            <h5 class="mt-3 fw-bold">Sunny Surprise</h5>
                            <p>Isn't it all hot in here?! Well, a sunny day...</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <h4 class="category mt-5" id="flowers">Flowers</h4>
        <div class="items mt-3">
            <div class="bouquet-item">
                <a class="see-more" data-bs-toggle="modal" data-bs-target="#flower-1">
                    <div class="card shadow">
                        <div class="card-body">
                            <img src="assets/img/tulip.png" alt="" class="img-fluid order-img">
                            <h5 class="mt-3 fw-bold">Single Stem Tulip</h5>
                            <p>Tulips are a common choice for bridal flowers.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="bouquet-item">
                <a class="see-more" data-bs-toggle="modal" data-bs-target="#flower-2">
                    <div class="card shadow">
                        <div class="card-body">
                            <img src="assets/img/rose.png" alt="" class="img-fluid order-img">
                            <h5 class="mt-3 fw-bold">Single Stem Rose</h5>
                            <p>Roses are symbol for appreciation.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="bouquet-item">
                <a class="see-more" data-bs-toggle="modal" data-bs-target="#flower-3">
                    <div class="card shadow">
                        <div class="card-body">
                            <img src="assets/img/lily.jpg" alt="" class="img-fluid order-img">
                            <h5 class="mt-3 fw-bold">Single Stem Lily</h5>
                            <p>Looking for a gift on someone's baby shower?</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="bouquet-item">
                <a class="see-more" data-bs-toggle="modal" data-bs-target="#flower-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <img src="assets/img/sunflower.png" alt="" class="img-fluid order-img">
                            <h5 class="mt-3 fw-bold">Sunflower</h5>
                            <p>Really, there is never a good moment or place...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="bouquet-item">
                <a class="see-more" data-bs-toggle="modal" data-bs-target="#flower-5">
                    <div class="card shadow">
                        <div class="card-body">
                            <img src="assets/img/marigold.jpg" alt="" class="img-fluid order-img">
                            <h5 class="mt-3 fw-bold">Marigold</h5>
                            <p>Marigolds are a symbol of joy.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="bouquet-item">
                <a class="see-more" data-bs-toggle="modal" data-bs-target="#flower-6">
                    <div class="card shadow">
                        <div class="card-body">
                            <img src="assets/img/pansy.jpg" alt="" class="img-fluid order-img">
                            <h5 class="mt-3 fw-bold">Pansy Flower</h5>
                            <p>Got a little crush on someone? Pansy!</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="bouquet-item">
                <a class="see-more" data-bs-toggle="modal" data-bs-target="#flower-7">
                    <div class="card shadow">
                        <div class="card-body">
                            <img src="assets/img/dianthus.jpg" alt="" class="img-fluid order-img">
                            <h5 class="mt-3 fw-bold">Dianthus Flower</h5>
                            <p>Ah, sweet williams...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="bouquet-item">
                <a class="see-more" data-bs-toggle="modal" data-bs-target="#flower-8">
                    <div class="card shadow">
                        <div class="card-body">
                            <img src="assets/img/daisy.png" alt="" class="img-fluid order-img">
                            <h5 class="mt-3 fw-bold">Daisy</h5>
                            <p>A daisy can be given to someone on...</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<app-modals></app-modals>
<app-footer></app-footer>