<app-header></app-header>

<section class="order-list">
  <div class="container">
    <div class="d-flex justify-content-between my-5">
      <h1>Your Bag</h1>
      <h4>Total Amount: <span class="fw-bold cart-price">₱4,485</span></h4>
    </div>
    <div class="items cart-row">
      <div class="bouquet-item cart-items">
        <a class="see-more" onclick="PopUpBouquet1()">
            <img src="assets/img/pinky pinks.png" alt="" class="img-fluid order-img">
            <div class="d-flex justify-content-between align-items-center mt-3">
                <h5 class="name fw-bold cart-item-title">Pinky Pinks</h5>
                <h6 class = "cart-price">₱2,500</h6>
            </div>
            <p>What do we say when you want to treat your...</p>
        </a>
        <div class="d-flex cart-quantity">
          <input type="number" min="0" step="1" class="form-control no-effect w-25" id="amountInput" value="1" disabled>
          <button class="btn btn-outline-primary w-75 ms-3 btn-remove">remove</button>
        </div>
      </div>
      <!-- <div class="bouquet-item cart-items">
        <a class="see-more" data-bs-toggle="modal" data-bs-target="#view-bouquet">
            <img src="assets/img/customized-b.png" alt="" class="img-fluid order-img">
            <div class="d-flex justify-content-between align-items-center mt-3">
                <h5 class="name fw-bold cart-item-title">Custom Bouquet</h5>
                <h6 class = "cart-price">₱1,985</h6>
            </div>
            <p>Custom bouquet #20221345</p>
        </a>
        <div class="d-flex">
          <input type="number" min="0" step="1" class="form-control no-effect w-25" id="amountInput" value="1" disabled>
          <button class="btn btn-outline-primary w-75 ms-3">remove</button>
        </div>
      </div> -->
    </div>
    <div class="confirmation my-5 text-end">
      <a routerLink="/order/checkout"><button class="btn btn-outline-primary btn-purchase" onclick="purchaseClicked()">Checkout</button></a>
    </div>
  </div>
</section>

<div class="popup" id="popup-bouquet-1">
  <div class="overlay"></div>
  <div class="pop-content">
    <div class="close-btn" onclick="PopUpBouquet1()">&times;</div>
    <h1 class="page-title">Pinky pinks</h1>
    <div class="pop-row">
      <img src="assets/img/pinky pinks.png">
      <p>What do we say when you want to treat your loved ones like a princess? We say "go pink!"</p>
    </div>
  </div>
</div>

<div class="modal fade" id="view-bouquet" tabindex="-1" aria-labelledby="view-bouquet-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="card p-3 pt-0">
        <div class="card-body">
          <div class="row">
              <div class="col-12 d-flex justify-content-end">
                  <a routerLink="../view-bouquet"><i class="bi bi-x" data-bs-dismiss="modal" style="font-size: 2rem; color: black;"></i></a>
              </div>
          </div>
          <div class="row">
            <div class="col-6 text-center">
              <img src="assets/img/customized-b.png" alt="" class="img-fluid order-img">
            </div>
            <div class="col-6">
              <h6 class="fw-bold">Size</h6>
              <p>Medium</p>
              <h6 class="fw-bold">Flowers</h6>
              <ul>
                <li>Single Stem Tulip x5</li>
                <li>Single Stem Lily x5</li>
                <li>Dianthus Flower x5</li>
                <li>Marigold x5</li>
              </ul>
              <h6 class="fw-bold">Sleeves</h6>
              <ul>
                <li>Plastic Wrapper x1</li>
                <li>Kraft Paper x1</li>
              </ul>
              <h6 class="fw-bold">Tie</h6>
              <ul>
                <li>Black Ribbon x1</li>
              </ul>
              <h6 class="fw-bold">Card</h6>
              <p class="text-muted">None</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
