<app-header></app-header>
<section class="order-list">
  <div class="row-details">
    <h3 class = "page-title">ORDER LIST:</h3>
    <h5>TOTAL AMOUNT: $200</h5>
  </div>
    <div class="divider">
      <div class="center-container">
      <div class="bouquet-container">
        <div class="bouquet-column">
          <div class="bouquet-items">
            <img src="assets/img/flower1.jpg" alt="">
          </div>
          <div class="bouquet-details">
            <div class="details-row">
              <h4>Rose Bouquet</h4>
              <p>$10</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="btn-num">
              <button class="btn-number btn-general" disabled>1</button>
              <button class="btn-bag btn-general">Remove</button>
            </div>
          </div>
        </div>

      </div>
      </div>
    </div>
    <div class="confirmation">
      <a href="checkout"><button class="btn-general">Confirm Order</button></a>
    </div>
</section>
<app-footer></app-footer>
