main {
    padding: 20px 30px 20px 350px;
}

.card {
    padding: 20px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
}

.card-title {
    font-weight: bold;
}

.table td, .table th {
    padding: 10px 20px;
    color: var(--dark-text);
}