<app-sidebar></app-sidebar>
<app-navbar></app-navbar>

<main>
    <div class="row">
        <div class="col-3">
            <div class="card">
                <h5 class="card-title">Sales <span>| Today</span></h5>
                <div class="card-body ps-2 pb-2">
                    <div class="row d-flex align-items-center">
                        <div class="col-1">
                            <i class="bi bi-cart" style="font-size: 2rem;"></i>
                        </div>
                        <div class="col-10 offset-1">
                            <h5 class="fw-bold">$53,000</h5>
                            <span class="text-success pt-1 fw-bold">+55%</span>
                            <span class="text-muted pt-2 ps-1">increase</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <h5 class="card-title">Orders <span>| This Month</span></h5>
                <div class="card-body ps-2 pb-2">
                    <div class="row d-flex align-items-center">
                        <div class="col-1">
                            <i class="bi bi-currency-dollar" style="font-size: 2rem;"></i>
                        </div>
                        <div class="col-10 offset-1">
                            <h5 class="fw-bold">$3,462</h5>
                            <span class="text-success pt-1 fw-bold">+2%</span>
                            <span class="text-muted pt-2 ps-1">increase</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <h5 class="card-title">Customers <span>| This Month</span></h5>
                <div class="card-body ps-2 pb-2">
                    <div class="row d-flex align-items-center">
                        <div class="col-1">
                            <i class="bi bi-people" style="font-size: 2rem;"></i>
                        </div>
                        <div class="col-10 offset-1">
                            <h5 class="fw-bold">$3,462</h5>
                            <span class="text-success pt-1 fw-bold">+2%</span>
                            <span class="text-muted pt-2 ps-1">increase</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <h5 class="card-title">Purchases <span>| This Month</span></h5>
                <div class="card-body ps-2 pb-2">
                    <div class="row d-flex align-items-center">
                        <div class="col-1">
                            <i class="bi bi-currency-dollar" style="font-size: 2rem;"></i>
                        </div>
                        <div class="col-10 offset-1">
                            <h5 class="fw-bold">$3,462</h5>
                            <span class="text-success pt-1 fw-bold">+2%</span>
                            <span class="text-muted pt-2 ps-1">increase</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-8">
            <div class="card">
                <h5 class="card-title">Sales Difference <span>| Today</span></h5>
                <div class="card-body ps-2 pb-2">*insert content*</div>
            </div>
            <div class="card mt-3 pb-0 px-0">
                <h5 class="card-title ps-4">Recent Sales <span>| Today</span></h5>
                <div class="card-body p-0">
                    <table class="table table-hover">
                        <thead>
                            <tr class="text-uppercase">
                                <th scope="col">#</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <th scope="row">#2457</th>
                                    <td>Brandon Jacob</td>
                                    <td>At praesentium minu</td>
                                    <td>$64</td>
                                    <td><span class="badge bg-success">Approved</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">#2147</th>
                                    <td>Bridie Kessler</td>
                                    <td>Blanditiis dolor omnis similique</td>
                                    <td>$47</td>
                                    <td><span class="badge bg-warning">Pending</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">#2049</th>
                                    <td>Ashleigh Langosh</td>
                                    <td>At recusandae consectetur</td>
                                    <td>$147</td>
                                    <td><span class="badge bg-success">Approved</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">#2644</th>
                                    <td>Angus Grady</td>
                                    <td>Ut voluptatem id earum et</td>
                                    <td>$67</td>
                                    <td><span class="badge bg-danger">Rejected</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">#2644</th>
                                    <td>Raheem Lehner</td>
                                    <td>Sunt similique distinctio</td>
                                    <td>$165</td>
                                    <td><span class="badge bg-success">Approved</span></td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card h-100">
                <h5 class="card-title">Statistics Report <span>| This Month</span></h5>
            </div>
        </div>
    </div>
</main>