<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-4 offset-1">
            <div class="container">
                <h4 class="fw-bolder">Sign In</h4>
                <p>Enter your email and password to sign in</p>
                <form [formGroup]="signinForm" (ngSubmit)="signin()"> 
                    <div class="form-group">
                        <input formControlName="email" type="text" class="form-control" id="formGroupExampleInput" placeholder="Email">
                    </div>
                    <div class="form-group my-3">
                        <input formControlName="password" type="password" class="form-control" id="formGroupExampleInput2" placeholder="Password">
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary fw-semibold shadow mb-3">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-6 offset-1">
            <div class="side-img rounded-3" style="background-image: url('assets/img/sign-pic.jpg');">
                <div class="color-overlay d-flex justify-content-center align-items-center rounded-3">
                    <div class="text-overlay text-center">
                        <img src="assets/img/mema-logo.png" alt="" class="mb-5">
                        <h3 class="fw-bolder">Boboquet and bulaklak.</h3>
                        <p>The more effortless the writing looks, the more effort the writer actually put into the process.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>