<app-header></app-header>
<section class="custom-confirm">
  <!-- Statur Bar -->
  <h3>CUSTOMIZE YOUR BOUQUET:</h3>
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card-stepper text-black" style="border-radius: 16px;">
            <div class="card-body p-5">
                <ul id="progressbar-2" class="d-flex justify-content-between mx-0 mt-0 mb-4 px-0 pt-0 pb-0">
                  <li class="step0 active text-center" id="step1"></li>
                  <li class="step0 active text-center" id="step2"></li>
                  <li class="step0 active text-center" id="step3"></li>
                  <li class="step0 active text-center" id="step4"></li>
                  <li class="step0 active text-muted text-end" id="step5"></li>
                </ul>
                <div class="d-flex justify-content-between mt-0 pt-0">
                  <div class="">
                      <p class="">FLOWER</p>
                  </div>
                  <div>
                      <p class="">SLEEVE</p>
                  </div>
                  <div>
                      <p class="ml"> TIE</p>
                  </div>
                  <div>
                      <p class="ml"> CARD</p>
                  </div>
                  <div>
                      <p class="">CONFIRM</p>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content -->
  <div class="divider">
  <!-- Flower -->
  <div class="row-detail">
    <h5>Selected Flowers:</h5>
  </div>
  <div class="center-container">
  <div class="bouquet-container">
    <div class="bouquet-column">
      <div class="bouquet-items">
        <img src="assets/img/flower1.jpg" alt="">
      </div>
      <div class="bouquet-details">
        <div class="details-row">
          <h4>Rose Bouquet</h4>
          <p>$10</p>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="btn-num">
          <button class="btn-number btn-general" disabled>5</button>
          <button class="btn-general">Remove</button>
        </div>
      </div>
    </div>
    <div class="bouquet-column">
      <div class="bouquet-items">
        <img src="assets/img/flower1.jpg" alt="">
      </div>
      <div class="bouquet-details">
        <div class="details-row">
          <h4>Rose Bouquet</h4>
          <p>$10</p>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="btn-num">
          <button class="btn-number btn-general" disabled>5</button>
          <button class="btn-general">Remove</button>
        </div>
      </div>
    </div>
    <div class="bouquet-column">
      <div class="bouquet-items">
        <img src="assets/img/flower1.jpg" alt="">
      </div>
      <div class="bouquet-details">
        <div class="details-row">
          <h4>Rose Bouquet</h4>
          <p>$10</p>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="btn-num">
          <button class="btn-number btn-general" disabled>5</button>
          <button class="btn-general">Remove</button>
        </div>
      </div>
    </div>
    <div class="bouquet-column">
      <div class="bouquet-items">
        <img src="assets/img/flower1.jpg" alt="">
      </div>
      <div class="bouquet-details">
        <div class="details-row">
          <h4>Rose Bouquet</h4>
          <p>$10</p>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="btn-num">
          <button class="btn-number btn-general" disabled>5</button>
          <button class="btn-general">Remove</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Sleeves -->
  </div>
    <div class="divider divider1">
      <div class="row-detail">
        <h5>Selected Sleeves:</h5>
      </div>
      <div class="center-container">
      <div class="sleeves-container">
        <div class="cont">
          <div class="bouquet-column1">
            <div class="bouquet-items">
              <img src="assets/img/flower1.jpg" alt="">
            </div>
            <div class="bouquet-details1">
              <div class="details-row1">
                <h4>Rose Bouquet</h4>
                <p>$10</p>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <div class="btn-num">
                <button class="btn-number btn-general" disabled>1</button>
                <button class="btn-general">Remove</button>
              </div>
            </div>
          </div>
          <div class="bouquet-column1">
            <div class="bouquet-items">
              <img src="assets/img/flower1.jpg" alt="">
            </div>
            <div class="bouquet-details1">
              <div class="details-row1">
                <h4>Rose Bouquet</h4>
                <p>$10</p>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <div class="btn-num">
                <button class="btn-number btn-general" disabled>1</button>
                <button class="btn-general">Remove</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- Tie -->
    <div class="divider">
      <div class="row-detail">
        <h5>Selected Tie:</h5>
      </div>
      <div class="center-container">
      <div class="bouquet-container">
        <div class="bouquet-column">
          <div class="bouquet-items">
            <img src="assets/img/flower1.jpg" alt="">
          </div>
          <div class="bouquet-details">
            <div class="details-row">
              <h4>Rose Bouquet</h4>
              <p>$10</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="btn-num">
              <button class="btn-number btn-general" disabled>1</button>
              <button class="btn-general">Remove</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="confirmation ">
      <a routerLink="/order"><button class="btn-general">Cancel</button></a>
      <a routerLink="/order/order-list"><button class="btn-general">Make A Bouquet</button></a>
    </div>
</section>
<app-footer></app-footer>
