<app-header></app-header>
<section class="custom-confirm">
  <h3>CUSTOMIZE YOUR BOUQUET:</h3>
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card-stepper text-black" style="border-radius: 16px;">
            <div class="card-body p-5">
                <ul id="progressbar-2" class="d-flex justify-content-between mx-0 mt-0 mb-4 px-0 pt-0 pb-0">
                    <li class="step0 active text-center" id="step1"></li>
                    <li class="step0 text-center" id="step2"></li>
                    <li class="step0 text-center" id="step3"></li>
                    <li class="step0 text-center" id="step4"></li>
                    <li class="step0 text-muted text-end" id="step5"></li>
                </ul>
                <div class="d-flex justify-content-between mt-0 pt-0">
                    <div class="">
                        <p class="">FLOWER</p>
                    </div>
                    <div>
                        <p class="">SLEEVE</p>
                    </div>
                    <div>
                        <p class="ml"> TIE</p>
                    </div>
                    <div>
                        <p class="ml"> CARD</p>
                    </div>
                    <div>
                        <p class="">CONFIRM</p>
                    </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="divider">
      <div class="row-detail">
        <h5>Selected Flowers:</h5>
      </div>
      <div class="center-container">
      <div class="bouquet-container">
        <div class="bouquet-column">
          <div class="bouquet-items">
            <img src="assets/img/flower1.jpg" alt="">
          </div>
          <div class="bouquet-details">
            <div class="details-row">
              <h4>Rose Bouquet</h4>
              <p>$10</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="btn-num">
              <button class="btn-number button default">5</button>
              <button class="btn-bag button">Remove</button>
            </div>
          </div>
        </div>
        <div class="bouquet-column">
          <div class="bouquet-items">
            <img src="assets/img/flower1.jpg" alt="">
          </div>
          <div class="bouquet-details">
            <div class="details-row">
              <h4>Rose Bouquet</h4>
              <p>$10</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="btn-num">
              <button class="btn-number button">5</button>
              <button class="btn-bag button">Remove</button>
            </div>
          </div>
        </div>
        <div class="bouquet-column">
          <div class="bouquet-items">
            <img src="assets/img/flower1.jpg" alt="">
          </div>
          <div class="bouquet-details">
            <div class="details-row">
              <h4>Rose Bouquet</h4>
              <p>$10</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="btn-num">
              <button class="btn-number button">5</button>
              <button class="btn-bag button">Remove</button>
            </div>
          </div>
        </div>
        <div class="bouquet-column">
          <div class="bouquet-items">
            <img src="assets/img/flower1.jpg" alt="">
          </div>
          <div class="bouquet-details">
            <div class="details-row">
              <h4>Rose Bouquet</h4>
              <p>$10</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="btn-num">
              <button class="btn-number button">5</button>
              <button class="btn-bag button">Remove</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="divider divider1">
      <div class="row-detail">
        <h5>Selected Tie:</h5>
      </div>
      <div class="center-container">
      <div class="sleeves-container">
        <div class="cont">
          <div class="bouquet-column1">
            <div class="bouquet-items">
              <img src="assets/img/flower1.jpg" alt="">
            </div>
            <div class="bouquet-details1">
              <div class="details-row1">
                <h4>Rose Bouquet</h4>
                <p>$10</p>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <div class="btn-num">
                <button class="btn-number button">5</button>
                <button class="btn-bag button">Remove</button>
              </div>
            </div>
          </div>
          <div class="bouquet-column1">
            <div class="bouquet-items">
              <img src="assets/img/flower1.jpg" alt="">
            </div>
            <div class="bouquet-details1">
              <div class="details-row1">
                <h4>Rose Bouquet</h4>
                <p>$10</p>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <div class="btn-num">
                <button class="btn-number button">5</button>
                <button class="btn-bag button">Remove</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="divider">
      <div class="row-detail">
        <h5>Selected Tie:</h5>
      </div>
      <div class="center-container">
      <div class="bouquet-container">
        <div class="bouquet-column">
          <div class="bouquet-items">
            <img src="assets/img/flower1.jpg" alt="">
          </div>
          <div class="bouquet-details">
            <div class="details-row">
              <h4>Rose Bouquet</h4>
              <p>$10</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="btn-num">
              <button class="btn-number button">5</button>
              <button class="btn-bag button">Remove</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="confirmation ">
      <a href="order"><button class="button1">Cancel</button></a>
      <a href="order-list"><button class="button">Make A Bouquet</button></a>
    </div>
</section>
<app-footer></app-footer>
