<app-header></app-header>
<section class="custom-confirm">
  <!-- Statur Bar -->
  <h3>CUSTOMIZE YOUR BOUQUET:</h3>
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card-stepper text-black" style="border-radius: 16px;">
            <div class="card-body p-5">
                <ul id="progressbar-2" class="d-flex justify-content-between mx-0 mt-0 mb-4 px-0 pt-0 pb-0">
                  <li class="step0 active text-center" id="step1"></li>
                  <li class="step0 active text-center" id="step2"></li>
                  <li class="step0 active text-center" id="step3"></li>
                  <li class="step0 active text-center" id="step4"></li>
                  <li class="step0 active text-muted text-end" id="step5"></li>
                </ul>
                <div class="d-flex justify-content-between mt-0 pt-0">
                  <div class="">
                      <p class="">FLOWER</p>
                  </div>
                  <div>
                      <p class="">SLEEVE</p>
                  </div>
                  <div>
                      <p class="ml"> TIE</p>
                  </div>
                  <div>
                      <p class="ml"> CARD</p>
                  </div>
                  <div>
                      <p class="">CONFIRM</p>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content -->
  <div class="divider">
  <!-- Flower -->
  <div class="row-detail">
    <h5>Selected Flowers:</h5>
  </div>
  <div class="center-container">
  <div class="bouquet-container">
    <div class="bouquet-column">
      <div class="bouquet-items">
        <img src="assets/img/tulip.png" alt="">
      </div>
      <div class="bouquet-details">
        <div class="details-row">
          <h4>Single stem tulip</h4>
          <p>₱210</p>
        </div>
        <p>Tulips are a common choice for bridal flowers.....<a class="see-more" onclick="PopUpFlower1()">See More</a></p>
        <div class="btn-num">
          <button class="btn-number btn-general" disabled>5</button>
          <button class="btn-general">Remove</button>
        </div>
      </div>
    </div>
    <div class="bouquet-column">
      <div class="bouquet-items">
        <img src="assets/img/lily.jpg" alt="">
      </div>
      <div class="bouquet-details">
        <div class="details-row">
          <h4>Single stem lily</h4>
          <p>₱232</p>
        </div>
        <p>Looking for a gift on someone's baby shower?.....<a class="see-more" onclick="PopUpFlower2()">See More</a></p>
        <div class="btn-num">
          <button class="btn-number btn-general" disabled>5</button>
          <button class="btn-general">Remove</button>
        </div>
      </div>
    </div>
    <div class="bouquet-column">
      <div class="bouquet-items">
        <img src="assets/img/dianthus.jpg" alt="">
      </div>
      <div class="bouquet-details">
        <div class="details-row">
          <h4>Dianthus flower</h4>
          <p>₱145</p>
        </div>
        <p>Dianthus flower also known as sweet williams.....<a class="see-more" onclick="PopUpFlower3()">See More</a></p>
        <div class="btn-num">
          <button class="btn-number btn-general" disabled>5</button>
          <button class="btn-general">Remove</button>
        </div>
      </div>
    </div>
    <div class="bouquet-column">
      <div class="bouquet-items">
        <img src="assets/img/marigold.jpg" alt="">
      </div>
      <div class="bouquet-details">
        <div class="details-row">
          <h4>Marigold</h4>
          <p>₱290</p>
        </div>
        <p>Marigolds are a symbol of joy, they can be sent.....<a class="see-more" onclick="PopUpFlower4()">See More</a></p>
        <div class="btn-num">
          <button class="btn-number btn-general" disabled>5</button>
          <button class="btn-general">Remove</button>
        </div>
      </div>
    </div>
  </div>
  </div>
<!-- Flower Popups -->
<!-- Flower #1 -->
<div class="popup" id="popup-flower-1">
  <div class="overlay"></div>
  <div class="pop-content">
    <div class="close-btn" onclick="PopUpFlower1()">&times;</div>
    <h1 class="page-title">Single stem tulip</h1>
    <div class="pop-row">
      <img src="assets/img/tulip.png">
      <p>Tulips are a common choice for bridal flowers. Would you like to give your loved ones a very sweet like a wedding surprise? You might be looking for a tulip!</p>
    </div>
  </div>
</div>
<!-- Flower #2 -->
<div class="popup" id="popup-flower-2">
  <div class="overlay"></div>
  <div class="pop-content">
    <div class="close-btn" onclick="PopUpFlower2()">&times;</div>
    <h1 class="page-title">Single stem lily</h1>
    <div class="pop-row">
      <img src="assets/img/lily.jpg">
      <p>Looking for a gift on someone's baby shower? graduation? anniversary? Well, lily symbolizes good will, prosperity and happiness. Get them one... or two... or a hundred now!
      </p>
    </div>
  </div>
</div>
<!-- Flower #3 -->
<div class="popup" id="popup-flower-3">
  <div class="overlay"></div>
  <div class="pop-content">
    <div class="close-btn" onclick="PopUpFlower3()">&times;</div>
    <h1 class="page-title">Dianthus flower</h1>
    <div class="pop-row">
      <img src="assets/img/dianthus.jpg">
      <p>Dianthus flower also known as sweet williams or pinks can be gifted in any special occasion. You don't have a special someone to give it to? No need to worry, they are edible!</p>
    </div>
  </div>
</div>
<!-- Flower #4 -->
<div class="popup" id="popup-flower-4">
  <div class="overlay"></div>
  <div class="pop-content">
    <div class="close-btn" onclick="PopUpFlower4()">&times;</div>
    <h1 class="page-title">Marigold</h1>
    <div class="pop-row">
      <img src="assets/img/marigold.jpg">
      <p>Marigolds are a symbol of joy, they can be sent as a gift on practically any occasion. You can never go wrong with warm shades of marigold.</p>
    </div>
  </div>
</div>
  <!-- Sleeves -->
  </div>
    <div class="divider divider1">
      <div class="row-detail">
        <h5>Selected Sleeves:</h5>
      </div>
      <div class="center-container">
      <div class="sleeves-container">
        <div class="cont">
          <div class="bouquet-column1">
            <div class="bouquet-items">
              <img src="assets/img/plastic wrapper.png" alt="">
            </div>
            <div class="bouquet-details1">
              <div class="details-row1">
                <h4>Plastic wrapper</h4>
                <p>₱42</p>
              </div>
              <p>Simple is more. Make your bouquets flex.....<a class="see-more" onclick="PopUpSleeve2()">See More</a></p>
              <div class="btn-num">
                <button class="btn-number btn-general" disabled>1</button>
                <button class="btn-general">Remove</button>
              </div>
            </div>
          </div>
          <div class="bouquet-column1">
            <div class="bouquet-items">
              <img src="assets/img/kraft paper.png" alt="">
            </div>
            <div class="bouquet-details1">
              <div class="details-row1">
                <h4>Kraft paper</h4>
                <p>₱52</p>
              </div>
              <p>Kraft paper is not only good for the.....<a class="see-more" onclick="PopUpSleeve1()">See More</a></p>
              <div class="btn-num">
                <button class="btn-number btn-general" disabled>1</button>
                <button class="btn-general">Remove</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
<!-- Sleeves Popups -->
<!-- Sleeve #1 -->
<div class="popup" id="popup-sleeve-1">
  <div class="overlay"></div>
  <div class="pop-content">
    <div class="close-btn" onclick="PopUpSleeve1()">&times;</div>
    <h1 class="page-title">Kraft paper</h1>
    <div class="pop-row">
      <img src="assets/img/kraft paper.png">
      <p>Kraft paper is not only good for the environment because it will also give a good classic and formal look on your bouquet of flowers making it even sexier! Wrap them in it NOW.</p>
    </div>
  </div>
</div>
<!-- Sleeve #2 -->
<div class="popup" id="popup-sleeve-2">
  <div class="overlay"></div>
  <div class="pop-content">
    <div class="close-btn" onclick="PopUpSleeve2()">&times;</div>
    <h1 class="page-title">Transparent plastic wrapper</h1>
    <div class="pop-row">
      <img src="assets/img/plastic wrapper.png">
      <p>Simple is more. Make your bouquets flex its fresh flowers inside with this transparent plastic wrapper. Oh! what we meant will instantly be clear once you see the final product.</p>
    </div>
  </div>
</div>
    <!-- Tie -->
    <div class="divider">
      <div class="row-detail">
        <h5>Selected Tie:</h5>
      </div>
      <div class="center-container">
      <div class="bouquet-container">
        <div class="bouquet-column">
          <div class="bouquet-items">
            <img src="assets/img/black ribbon.png" alt="">
          </div>
          <div class="bouquet-details">
            <div class="details-row">
              <h4>Black ribbon</h4>
              <p>₱6</p>
            </div>
            <p>What color brings more finesse in everything than.....<a class="see-more" onclick="PopUpTie1()">See More</a></p>
            <div class="btn-num">
              <button class="btn-number btn-general" disabled>1</button>
              <button class="btn-general">Remove</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
<!-- Tie Popups -->
<!-- Tie #1 -->
<div class="popup" id="popup-tie-1">
  <div class="overlay"></div>
  <div class="pop-content">
    <div class="close-btn" onclick="PopUpTie1()">&times;</div>
    <h1 class="page-title">Black satin ribbon</h1>
    <div class="pop-row">
      <img src="assets/img/black ribbon.png">
      <p>What color brings more finesse in everything than the color black? Bind your arranged flower with this ribbon!</p>
    </div>
  </div>
</div>
    <div class="confirmation ">
      <a routerLink="/order"><button class="btn-general">Cancel</button></a>
      <a routerLink="/order/order-list"><button class="btn-general">Make A Bouquet</button></a>
    </div>
</section>
<app-footer></app-footer>
