:root {
 --primary-color: #6E85B7;
 --secondary-color: #B2C8DF;
 --dark-text: #39445C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container-fluid {
  padding: 20px;
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
  padding: 10px;
}

.btn-primary:focus, .btn-primary:active {
  background-color: var(--primary-color);
  border: none;
  padding: 10px;
}

.btn-outline-secondary {
  color: var(--primary-color);
}

.btn-success {
  padding: 10px;
}

/* Default button-template for orders */
.btn-general {
  font-weight: 500;
  width: 255px;
  height: 40px;
  background-color: white;
  border-width: 2px;
  border-radius: 3px;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn-general:hover{
  background-color: var(--primary-color);
  color: white;
}

/* For the See More */
.see-more{
  color: var(--dark-text);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;

}

.see-more:hover{
  color: var(--primary-color);
}

.page-title{
  color:var(--primary-color);
  font-weight: 700;
}

/* Label button-template */
.btn-label {
  width: 100px;
  background-color: white;
  border-width: 2px;
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.btn-check:checked + .btn-label {
  background-color: var(--primary-color);
  color: white;
}

/* See More PopUps-template */
.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup .pop-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: white;
  border-style: solid;
  border-color: var(--primary-color);
  border-radius: 5px;
  width: 750px;
  height: 320px;
  z-index: 2;

  padding: 20px;
  box-sizing: border-box;
}
.popup .pop-content img{
  max-width: 200px;
  max-height: 300px;
  padding-right: 20px;
}
.popup .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: var(--primary-color);
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 50%;
}

.pop-content .pop-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.popup.active .overlay {
  display: block;
}

.popup.active .pop-content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}
