:root {
 --primary-color: #6E85B7;
 --secondary-color: #B2C8DF;
 --dark-text: #39445C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    padding: 20px;
}

.btn-primary {
    background-color: var(--primary-color);
    border: none;
    padding: 10px;
}

.btn-primary:focus, .btn-primary:active {
    background-color: var(--primary-color);
    border: none;
    padding: 10px;
}

.btn-outline-secondary {
    color: var(--primary-color);
}

.btn-success {
    padding: 10px;
}

/* Default button-template for orders */
.btn-general {
  font-weight: 500;
  width: 255px;
  height: 40px;
  background-color: white;
  border-width: 2px;
  border-radius: 3px;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn-general:hover{
  background-color: var(--primary-color);
  color: white;
}

/* For the See More Hover effects */
.see-more{
  color: var(--dark-text);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.see-more:hover{
  color: var(--primary-color);
}
