<app-header></app-header>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">A bouquet can say it better.</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">Make the people you love feel special, send them a flower bouquet right away!</h2>
                <div data-aos="fade-up" data-aos-delay="800">
                <a routerLink="/order" class="btn-get-started .btn-general">ORDER NOW</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
                <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>
</section><!-- End Hero -->

<section class="sell container my-5 py-5">
    <div class="d-flex justify-content-between mb-4">
        <h1 class="fw-bold">Check out our Bestsellers</h1>
        <a routerLink="/order" class = "see-more"><p>See More</p></a>
    </div>
    <div class="row gx-5">
        <div class="col-3">
            <div class="bouquet-item">
                <a class="see-more" onclick="PopUpBouquet1()">
                    <img src="assets/img/summer treat.png" alt="" class="img-fluid order-img">
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <h5 class="name fw-bold">Summer Treat</h5>
                        <h6>₱4,000</h6>
                    </div>
                    <p>The perfect combination of purple, orange, and pink.</p>
                </a>
                <a routerLink="/order/arranged-bouquet"><button class="btn btn-outline-primary w-100">add to bag</button></a>
            </div>
        </div>
        <div class="col-3">
            <div class="bouquet-item">
                <a class="see-more" onclick="PopUpBouquet2()">
                    <img src="assets/img/rose.png" alt="" class="img-fluid order-img">
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <h5 class="name fw-bold">Single Stem Rose</h5>
                        <h6>₱100</h6>
                    </div>
                    <p>Your typical red rose. Simple, yet so so so romantic.</p>
                </a>
                <a routerLink="/order/arranged-bouquet"><button class="btn btn-outline-primary w-100">add to bag</button></a>
            </div>
        </div>
        <div class="col-3">
            <div class="bouquet-item">
                <a class="see-more" onclick="PopUpBouquet3()">
                    <img src="assets/img/sunny surprise.png" alt="" class="img-fluid order-img">
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <h5 class="name fw-bold">Sunny Surprise</h5>
                        <h6>₱2,900</h6>
                    </div>
                    <p>Yellows! Perfect for the sunny weather, am I right?</p>
                </a>
                <a routerLink="/order/arranged-bouquet"><button class="btn btn-outline-primary w-100">add to bag</button></a>
            </div>
        </div>
        <div class="col-3">
            <div class="bouquet-item">
                <a class="see-more" onclick="PopUpBouquet4()">
                    <img src="assets/img/pansy.jpg" alt="" class="img-fluid order-img">
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <h5 class="name fw-bold">Pansy Flower</h5>
                        <h6>₱307</h6>
                    </div>
                    <p>Got a little crush on someone? What a pansy!</p>
                </a>
                <a routerLink="/order/arranged-bouquet"><button class="btn btn-outline-primary w-100">add to bag</button></a>
            </div>
        </div>
    </div>
</section>

<!-- ======= About Section ======= -->
<section id="about" class="about my-5 py-5">
    <div class="container" data-aos="fade-up">
        <div class="row gx-0">
            <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                <div class="content">
                    <h3>About Us</h3>
                    <h2>Bloom Inc. is a website created for an easy and convenient way of buying flowers for your loved ones on a special occassion or just any old day!</h2>
                    <p>
                        Bloom Inc. was recently launched by students from INF202. The best thing about Bloom Inc. is that it is absolutely FREE for customers! That's right, the company is a 100% customer focused website which looks at making shopping an easy task for the consumer.
                    </p>
                    <div class="text-center text-lg-start">
                        <a class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                        <a routerLink="/about"><span>Read More</span></a>
                        <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                <img src="assets/img/about-hero.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section><!-- End About Section -->

<!-- Bouquet Popups -->
<!-- Bouquet #1 -->
<div class="popup" id="popup-bouquet-1">
    <div class="overlay"></div>
        <div class="pop-content">
            <div class="close-btn" onclick="PopUpBouquet1()">&times;</div>
                <h1 class="page-title">Summer treat</h1>
            <div class="pop-row">
            <img src="assets/img/summer treat.png">
            <p>A combination of purple orange and pink hues all in one en grande bouquet. Grab one now and make someone's heart grow even bigger!</p>
        </div>
    </div>
</div>
<!-- Bouquet #2 -->
<div class="popup" id="popup-bouquet-2">
    <div class="overlay"></div>
        <div class="pop-content">
            <div class="close-btn" onclick="PopUpBouquet2()">&times;</div>
                <h1 class="page-title">Single stem rose</h1>
            <div class="pop-row">
            <img src="assets/img/rose.png">
            <p>Roses are symbol for appreciation. Want to express your gratitude to someone but are unsure of the best way to do so? What are you waiting for then? Buy them a rose!</p>
        </div>
    </div>
</div>
<!-- Bouquet #3 -->
<div class="popup" id="popup-bouquet-3">
    <div class="overlay"></div>
        <div class="pop-content">
            <div class="close-btn" onclick="PopUpBouquet3()">&times;</div>
                <h1 class="page-title">Sunny surprise</h1>
            <div class="pop-row">
            <img src="assets/img/sunny surprise.png">
            <p>Isn't it all hot in here?! Well, a sunny day inspired arrangement of flowers might be the coolest way to spice things up with your loved ones any day.</p>
        </div>
    </div>
</div>
<!-- Bouquet #4 -->
<div class="popup" id="popup-bouquet-4">
    <div class="overlay"></div>
        <div class="pop-content">
            <div class="close-btn" onclick="PopUpBouquet4()">&times;</div>
                <h1 class="page-title">Pansy flower</h1>
            <div class="pop-row">
            <img src="assets/img/pansy.jpg">
            <p>Has a secret message for someone? Well, wouldn't it be "pansy" to let them know using a flower? Pansy flower is used by forbidden lovers to convey secret messages. grab one and let someone know you love and think of them.</p>
        </div>
    </div>
</div>

<app-footer></app-footer>
