main {
    padding: 20px 30px 20px 350px;
}

.card {
    padding: 20px 0;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
}

.btn-light {
    background: none;
    border: none;
}

.item-pic {
    object-fit: cover;
    width: 100%;
    height: 450px;
    border-radius: 10px;
}

.card-table {
    box-shadow: none; 
    border: 0.5px solid #dbdbdb; 
    border-radius: 10px;
    height: 200px;
    overflow-y: scroll;
}

.btn-outline-primary {
    color: var(--primary-color);
}

.btn-outline-primary:hover {
    color: white;
    background-color: var(--primary-color);
}

