<nav class="navbar navbar-light">
    <div class="container-fluid">
        <div class="page-title me-auto" style="color: white;">
            <h4 class="mb-0 fw-bold" id="nav-title">Dashboard</h4>
            <h6 class="mb-0" id="nav-subtitle">Home/Dashboard</h6>
        </div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle ms-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-fill pe-3"></i>Admin
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                <a class="dropdown-item" routerLink="/admin"><li>Log out</li></a>
            </ul>
        </div>
    </div>
</nav>
